<nav class="bg-grey-light">
	<div class="container mx-auto flex">
		<div class="flex-1">
			<h2 class="py-6 text-lg sm:text-xl hidden sm:block"><a class="underline text-black" href="/en/organizations/">Track digital security compliance</a></h2>
		</div>
        <div role="navigation" class="flex-1">
            <ul class="list-reset flex justify-end text-lg sm:text-xl font-bold">
                <li class="py-6 inline sm:hidden">
                    <a id="menu-btn" class="text-blue hover:text-blue-darker" href="#">Menu</a>
                </li>
                <li class="mr-8 py-6 px-2 hidden sm:inline">
                    <a class="text-blue hover:text-blue-darker" href="/en/guidance/">Guidance</a>
                </li>
                <li class="py-6 hidden sm:inline">
                    <a class="text-blue hover:text-blue-darker" href="/en/feedback/">Feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>