apiVersion: apps/v1
kind: Deployment
metadata:
  name: domain-discovery
  labels:
    app: domain-discovery
  namespace: scanners
spec:
  replicas: 1
  selector:
    matchLabels:
      app: domain-discovery
  strategy: {}
  template:
    metadata:
      labels:
        app: domain-discovery
    spec:
      securityContext:
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: domain-discovery
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/domain-discovery:master-5392e2c-1762286340 # {"$imagepolicy": "flux-system:domain-discovery"}
          env:
            - name: DB_NAME
              value: track_dmarc
            - name: DB_URL
              value: http://arangodb.db:8529
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_PASS
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_USER
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
          resources: {}
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
status: {}
