
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="google-site-verification" content="xXEGpPeG9CfACp-aeM0kS8pSS9Vk7Z8OS0QB_EehREs" /> -->

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- Twitter Specific Metas
================================================== -->
<!-- <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@USGSA" />
<meta name="twitter:creator" content="@USGSA" />
<meta name="twitter:image" content="{{ site.url }}/static/images/logo-track-digital.png" />
<meta name="twitter:image:alt" content="Track digital security compliance" /> -->

<!-- Favicon
================================================== -->
<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">

<!-- CSS
================================================== -->
<!-- <link rel="stylesheet" href="/static/css/normalize.min.css">
<link rel="stylesheet" href="/static/css/google-fonts.css"> -->
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/cds.min.css?{{ now() | date("%Y%m%j%H%M%S") }}">

<!-- Scripts
================================================== -->
<script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="/static/js/vendor/jquery-3.2.1.min.js"></script>

<script src="/static/js/vendor/d3.min.js"></script>
<script src="/static/js/vendor/querystring.js"></script>
<script src="/static/js/utils.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


<!-- sigh, datatables -->

<link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.12/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/Responsive-2.1.0/css/responsive.dataTables.min.css"/>

<script type="text/javascript" src="/static/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/Responsive-2.1.0/js/dataTables.responsive.min.js"></script>

<script src="/static/js/dataTables.downloads.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
