annotated-types==0.5.0
attrs==23.2.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==2.1.1
cryptography==44.0.1
idna==3.7
nassl==5.3.0
nats-py==2.8.0
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.4.0
pydantic_core==2.31.0
python-dotenv==0.21.0
requests==2.32.3
requests-toolbelt==0.10.1
service-identity==24.1.0
sslyze==6.1.0
tls-parser==2.0.0
typing_extensions==4.12.2
urllib3==2.2.2
