[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
emoji = "*"
pytest = "*"
requests = ">=2.18.4"
checkdmarc = "*"
dkimpy = "*"
dnspython = "*"
tldextract = "*"
pretend = "*"
uvloop = "*"
httptools = "*"
PyNaCl = "*"
Pebble = "==4.6.1"
asyncio-nats-client = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
black = {editable = true, ref = "21.8b0", git = "https://github.com/psf/black.git"}

[scripts]
service = "python3 service.py"
black = "black -q"
