certifi==2024.7.4
cffi==1.17.0
charset-normalizer==2.1.1
checkdmarc==5.7.7
cryptography==44.0.1
dkimpy==1.0.5
dnspython==2.6.1
expiringdict==1.2.2
filelock==3.8.0
idna==3.11
nats-py==2.8.0
publicsuffix2==2.20191221
publicsuffixlist==0.10.0.20240420
pycparser==2.21
PyJWT==2.8.0
pyleri==1.4.1
PyNaCl==1.5.0
python-arango==8.1.6
python-dotenv==0.21.0
requests==2.32.4
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
timeout-decorator==0.5.0
tldextract==3.4.0
urllib3==2.5.0
