{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "jest", "import", "react-hooks"],
  "rules": {
    "react/no-unescaped-entities": ["off", {}],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "all",
        "varsIgnorePattern": "_",
        "argsIgnorePattern": "_"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
  
}
