version: "3.7"
services:
  envoy: # proxies localhost:3000 to containers based on rules in config
    image: envoyproxy/envoy-alpine-dev
    entrypoint: envoy
    command: ["-c", "/etc/envoy-dev.yaml", "--service-cluster", "envoy"]
    volumes:
      - ./envoy-dev.yaml:/etc/envoy-dev.yaml # Envoy configuration
    expose:
      - "3000" # Forward to proxied apps
      - "3001" # Envoy admin page
    ports:
      - "3000:3000"
      - "3001:3001"
  frontend: # localhost:3000/* is sent to frontend
    image: node:alpine
    working_dir: /app
    command: npm run dev
    volumes:
      - ./:/app
    expose:
      - "3000"
  mocked-api: # available at localhost:3000/graphql
    image: node:alpine
    working_dir: /app
    command: npm run mocker
    volumes:
      - ./mocking/:/app/mocking
      - ./node_modules/:/app/node_modules/
      - ./package.json:/app/package.json
      - ./.babelrc:/app/.babelrc
    expose:
      - "4000"

volumes:
  driver: {}
