data/output

logs
*.log

# virtualenv
.Python
.python-version
bin
include
lib

# Linting
.mypy_cache/
.pytest_cache

__pycache__/
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json
.coverage

csv/
*.csv
