/pulse_update/data/output
/pulse_update/data/backup
/pulse_update/data/*.json
/pulse_update/data/*.env
db.json
.env

logs
*.log
/.sass-cache

# virtualenv
.Python
.python-version
bin
include
lib

# Linting
.mypy_cache/
.pytest_cache

/deploy/node_modules

# Mac specific
.DS_Store

__pycache__/
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json
.coverage

pulse_update/csv/
*.csv

todo.txt
node_modules
pulse/instance
