**/.DS_Store

frontend/public
api/schema.json
api/api.current.graphql

**/node_modules
**/coverage

**/identity
**/identity.pub
**/known_hosts

*.log

# virtualenv
**/.Python
**/bin
**/include
**/lib
**/*.env
**/.venv
venv
**/lib64
**/pyvenv.cfg

# Linting
**/.mypy_cache/
**/.pytest_cache

**/__pycache__
**/.py[cod]
**/pip-log.txt
**/pip-delete-this-directory.txt
**/pip-selfcheck.json
**/.coverage

scanner/csv
scanner/data/backupScanResults
scanner/data/output
scanner/logs
*.csv

# IDE Files
.idea/
.vscode/
*.code-workspace

# all dist directories
**/dist

#API lingui ignores
api-js/src/locale/_build

# Python client ignores
clients/python/docs/build
