
{% set GTM_key = "GOOGLE_TAG_MANAGER" | fetch_env() %}


{% if GTM_key %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GTM_key }}');</script>
    <!-- End Google Tag Manager -->

{% endif %}

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width,initial-scale=1" name="viewport">

<!-- Favicon
================================================== -->
<link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/cds.min.css?{{ now() | date("%Y%m%j%H%M%S") }}">
<link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.18/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/Responsive-2.2.2/css/responsive.dataTables.min.css"/>
