apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: domain-dispatcher
  namespace: scanners
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 21600
      template:
        metadata:
          labels:
            app: domain-dispatcher
        spec:
          containers:
            - name: domain-dispatcher
              image: gcr.io/track-compliance/domain-dispatcher:master-f04e32e-1652993663 # {"$imagepolicy": "flux-system:domain-dispatcher"}
              env:
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_PASS
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_USER
                - name: DB_HOST
                  value: arangodb.db
                - name: DB_PORT
                  value: "8529"
                - name: DB_NAME
                  value: track_dmarc
                - name: DB_COLLECTION
                  value: domains
                - name: PUBLISH_TO
                  value: domains
                - name: NATS_URL
                  value: nats://nats.pubsub:4222
          restartPolicy: Never
      backoffLimit: 4
