{
    "plugins": [
        "macros"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "ignore": [
        "**/__tests__"
    ]
}
