DB_PASS=
DB_URL=
DB_NAME=

AUTHENTICATED_KEY=
SIGN_IN_KEY=

NOTIFICATION_API_URL=
NOTIFICATION_API_KEY=

DMARC_REPORT_API_URL=http://localhost:4001/graphql
DMARC_REPORT_API_TOKEN=1fa06bf0-8118-45a9-89dd-4a33c5a308ac
DMARC_REPORT_API_SECRET=_2n24J9jJ7o-8LrAxrzLv0axFq7kqFILF_M_Kb_YiB9iBeKMpuFTPhFeJ2QIspjdXdvoJ5mr-2QhbL_XbWN-Ag