apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring4shell-scanner
  namespace: scanners
spec:
  replicas: 4
  selector:
    matchLabels:
      app: spring4shell-scanner
  strategy: {}
  template:
    metadata:
      labels:
        app: spring4shell-scanner
    spec:
      containers:
        - name: spring4shell-scanner
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/spring4shell-scanner:master-66f4797-1763496883 # {"$imagepolicy": "flux-system:spring4shell-scanner"}
          env:
            - name: SUBSCRIBE_TO
              value: domains.*
            - name: NATS_URL
              value: nats://nats.pubsub:4222
          imagePullPolicy: Always
          resources: {}
status: {}
