[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gql = ">=3.0.0a5"
aiohttp = "==3.11.7"
websockets = "*"
python-slugify = "*"
cryptography = "~=46.0.3"

[dev-packages]
black = "*"
pytest = "*"
pytest-mock = "*"
pylint = "*"
bandit = "*"
wheel = "*"
setuptools = "*"
twine = "*"
sphinx = "*"

[pipenv]
allow_prereleases = true
