[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gql = ">=3.0.0a5"
aiohttp = "*"
websockets = "*"
python-slugify = "*"
wheel = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-mock = "*"
pylint = "*"
bandit = "*"
wheel = "*"
setuptools = "*"
twine = "*"

[requires]
python_version = "3.8"
