[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
emoji = "*"
httptools = "*"
PyNaCl = "*"
asyncio-nats-client = "*"
python-dotenv = "*"
pyopenssl = "*"
sslyze = "*"
scapy = "*"

[dev-packages]
pytest = "*"
black = {editable = true, ref = "21.8b0", git = "https://github.com/psf/black.git"}

[scripts]
service = "python3 service.py"
black = "black -q -"
