apiVersion: batch/v1
kind: Job
metadata:
  name: super-admin
  namespace: super-admin
spec:
  template:
    metadata:
      labels:
        job: super-admin
    spec:
      containers:
        - name: super-admin
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/super-admin:master-e1342bc-1765558161 # {"$imagepolicy": "flux-system:super-admin"}
          env:
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: super-admin
                  key: DB_PASS
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: super-admin
                  key: DB_NAME
            - name: DB_URL
              value: http://arangodb.db:8529
            - name: SA_USER_DISPLAY_NAME
              valueFrom:
                secretKeyRef:
                  name: super-admin
                  key: SA_USER_DISPLAY_NAME
            - name: SA_USER_USERNAME
              valueFrom:
                secretKeyRef:
                  name: super-admin
                  key: SA_USER_USERNAME
            - name: SA_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: super-admin
                  key: SA_USER_PASSWORD
            - name: SA_USER_LANG
              value: "english"
            - name: SA_ORG_EN_SLUG
              value: "sa"
            - name: SA_ORG_EN_ACRONYM
              value: "SA"
            - name: SA_ORG_EN_NAME
              value: "Super Admin"
            - name: SA_ORG_EN_ZONE
              value: "FED"
            - name: SA_ORG_EN_SECTOR
              value: "TBS"
            - name: SA_ORG_EN_PROVINCE
              value: "Ontario"
            - name: SA_ORG_EN_CITY
              value: "Ottawa"
            - name: SA_ORG_EN_COUNTRY
              value: "Canada"
            - name: SA_ORG_FR_SLUG
              value: "sa"
            - name: SA_ORG_FR_ACRONYM
              value: "SA"
            - name: SA_ORG_FR_NAME
              value: "Super Admin"
            - name: SA_ORG_FR_ZONE
              value: "FED"
            - name: SA_ORG_FR_SECTOR
              value: "TBS"
            - name: SA_ORG_FR_PROVINCE
              value: "Ontario"
            - name: SA_ORG_FR_CITY
              value: "Ottawa"
            - name: SA_ORG_FR_COUNTRY
              value: "Canada"
      restartPolicy: Never
  backoffLimit: 4
