apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-scanner
  labels:
    app: web-scanner
  namespace: scanners
spec:
  selector:
    matchLabels:
      app: web-scanner
  strategy: {}
  template:
    metadata:
      labels:
        app: web-scanner
    spec:
      containers:
        - name: web-scanner
          image: gcr.io/track-compliance/web-scanner # {"$imagepolicy": "flux-system:web-scanner"}
          env:
            - name: PYTHONWARNINGS
              value: ignore
            - name: PUBLISH_TO
              value: domains
            - name: SUBSCRIBE_TO
              value: domains.*.web
            - name: QUEUE_GROUP
              value: web_scanner
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
            - name: NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources: {}
status: {}
