<div class="container mx-auto items-center sm:w-4/5 xl:w-5/6 mt-6">
	<h1 class="text-5xl font-black">Check compliance</h1>
	<h2 class="text-4xl font-black mb-4 sm:mb-6 ">Last updated {{ scan_date | display_date("en") }}</h2>
	<p class="text-3xl mb-6">This dashboard reports how federal government websites and web services are meeting good web security practices, as outlined in <a class="text-https-blue hover:text-black" href="https://www.canada.ca/en/treasury-board-secretariat/services/information-technology/policy-implementation-notices/implementing-https-secure-web-connections-itpin.html">Information Technology Policy Implementation Notice (ITPIN): Implementing HTTPS for Secure Web Connections</a>.</p>
	<p class="text-3xl mb-8"><a id="modal-btn" class="text-https-blue hover:text-black" href="#">How do I read this table?</a></p>
</div>

