// dataTables
/////////////////////////////////////////

table caption {
  left: -10000px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.word-break {
  -ms-word-break: break-all; 
  word-break: break-all; 
  word-break: break-word;
}

.subdomain {
  .link {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}

tr.subdomain, tr.host {
    font-size:0.75em;
}

.rotated {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}

.dataTables_wrapper {
  padding: 60px 0 40px;

  .dataTables_length {
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 10px;
    padding-left: 10px;

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    a.active, a.active:hover {
      text-decoration: none;
      color: black !important;
    }

    select {
      border: none;
      display: inline-block;
      color: white;
      width: 60px;
      border-radius: 0px;
      padding: 0 8px;
      margin: 0 5px;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: url("/assets/images/arrow-down.png") 73% / 15% no-repeat $medium-blue;
      &::-ms-expand {
        display: none;
      }
    }
  }

  table.dataTable {
    padding: 20px 0;

    // reward!
    .success {
      color: $green;
    }

    // punishment!
    .warning {
      color: $red;
    }

    // inline indents for e.g. subdomains
    .indents {
      padding-left: 80px;
      line-height: 23px;

    }

    a {
      text-decoration: underline;
      color: #0071E1 !important;
    }

    a:hover {
      color: black !important;
    }

    a.loading {
      text-decoration: none !important;
      color: black !important;
    }

    th, td {
      border-bottom: 1px solid #888 !important;
      padding: 8px 0 8px 40px;
      font-weight: normal;
    }

    td:first {
      padding: 8px 0 8px 30px !important;
    }

    td.compliant {
      border-left: 0px solid black;
      border-right: 0px solid black;
      background-color: #EFEFEF;
    }

    thead {
      .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
        background-position: 20px center;
      }
    }

    &.no-footer {
      border: none;
    }

    td.odd:first-child,
    td.even:first-child {
      white-space: nowrap;
    }

    &.dtr-inline.collapsed {
      td:first-child:before {
        top: 9px;
        background-color: lighten($light-blue, 20%);
      }
      th:first-child:before {
        top: 9px;
        background-color: lighten($light-blue, 20%);
      }
    }

    > tbody {
      > tr.child {

        td.child {
          padding-top: 0px;
        }

        ul li {
          border-bottom: none;
          padding: 0 0 0px 0;
        }
        span.dtr-title {
          min-width: 0px;
        }
      }
    }

    &.https.domain {
      tbody {
        tr {
          &.parent {
            td { border-bottom: none !important; }
          }
          &:hover {
            background-color: #EFEFEF;
            cursor: pointer;
            +.child {
              background-color: #EFEFEF;
            }
          }
        }

        tr.child {
          &:hover {
            span.dtr-data {text-decoration: underline;}
          }
        }

        tr.host {
          td.link {
            padding-left: 60px;
          }
        }
      }
    }

    &.organization {

      td {
        padding: 15px 0 15px 40px !important;

        @include media($large) {
          padding-left: 32px !important;
          &:first-child:before { top: 30px !important; }
        }
        @include media ($medium) {
          &:first-child:before { top: 15px !important; }
        }
      }
    }

    &.organization, &.domain {
      .progress-bar-indication {
        background-color: #888888;
        border-radius: 20px;
        //border: 0.5rem solid #888888;
        width: 70%;
        position: relative;
        left: 35px;

        > .meter {
          @include box-sizing(border-box);
          background-color: #0071E1;
          background-repeat: repeat-x;
          background-size: 40px 40px;
          border-radius: 20px 0 0 20px;
          margin: 15px 0;
          display: block;
          height: 100%;
          width: 60%;
          &.width100 {
            border-radius: 20px;
          }
          @for $i from 1 through 3 {
            &.width#{$i} { background-color: transparent }
          }
        }

        p {
          font-size: 0.875em;
          position: relative;
          top: 5px;
          left: -48px;
        }
      }
    }
  }
  .dataTables_info {
    padding-top: 8px !important;
    font-size:$base-font-size;
  }

  .dataTables_info:after {
    content: ""!important; }

  .dataTables_paginate {
    a.paginate_button {
      padding: 8px 8px !important;
      font-size: 0.875em;
      border: none !important;
      &.current {
        background: #0071E1 !important;
        color: white !important;
        &:hover {
          color: white !important;
        }
      }
      &:hover, &:focus {
        background: #0071E1 !important;
        color: white !important;
      }
      &.disabled {
        &:hover, &:focus {
          background: transparent !important;
        }
      }
    }
  }
}
