// Track-digital site header (and navigation)
/////////////////////////////////////////

#menu-content{
  $sliding-panel-width: 220px;
  background: #FFFFFF;
  overflow-y: auto;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width 100%);
  @include transform(translateX(- 230px));
  @include transition(all 0.25s linear);

  &.is-visible {
    @include transform(translateX(0));
  }
}



