apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../bases/api
  - ../../bases/api/org-footprint-cronjob
  - ../../bases/api/progress-report-cronjob
  - ../../bases/frontend
  - ../../bases/scanners/scanner-platform
  - ../../bases/scanners/dns-processor
  - ../../bases/scanners/dns-scanner
  - ../../bases/scanners/web-processor
  - ../../bases/scanners/web-scanner
  - ../../bases/scanners/dmarc-report-cronjob
  - ../../bases/scanners/domain-dispatcher-cronjob
  - ../../bases/scanners/update-selectors-cronjob
  - ../../bases/scanners/summaries-cronjob
  - ../../bases/scanners/domain-discovery
  - ../../bases/scanners/detect-decay-cronjob
  - ../../bases/azure-defender-easm/defender-platform
  - ../../bases/azure-defender-easm/add-domain-to-easm
  - ../../bases/azure-defender-easm/label-known-easm-assets-cronjob
  - ../../bases/azure-defender-easm/add-easm-assets-to-tracker-cronjob
  - ../../bases/azure-defender-easm/import-easm-additional-findings-cronjob
replicas:
  - name: tracker-api
    count: 2
  - name: tracker-frontend
    count: 2
  - name: dns-scanner
    count: 6
  - name: web-scanner
    count: 20
patchesStrategicMerge:
  - frontend-production-env-patch.yaml
  - update-selectors-enable-selector-removal-patch.yaml
  - api-production-env-patch.yaml
components:
#  - ../../bases/frontend/maintenance-override-component
