apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../bases/api
  - ../../bases/frontend
  - ../../bases/scanners/scanner-platform
  - ../../bases/scanners/dns-processor
  - ../../bases/scanners/dns-scanner
  - ../../bases/scanners/web-processor
  - ../../bases/scanners/web-scanner
  - ../../bases/scanners/dmarc-report-cronjob
  - ../../bases/scanners/domain-dispatcher-cronjob
  - ../../bases/scanners/guidance-cronjob
  - ../../bases/scanners/summaries-cronjob
replicas:
  - name: tracker-api
    count: 2
  - name: tracker-frontend
    count: 2
  - name: dns-scanner
    count: 3
  - name: web-scanner
    count: 13
