apiVersion: batch/v1
kind: CronJob
metadata:
  name: import-easm-additional-findings
  namespace: azure-defender-easm
spec:
  timeZone: America/Toronto
  schedule: "0 22 * * *"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: import-easm-additional-findings
        spec:
          securityContext:
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: import-easm-additional-findings
              image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/azure-defender-easm/import-easm-additional-findings:master-88d2b29-1732888879 # {"$imagepolicy": "flux-system:import-easm-additional-findings"}
              env:
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: DB_PASS
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: DB_USER
                - name: DB_URL
                  value: http://arangodb.db:8529
                - name: DB_NAME
                  value: track_dmarc
                - name: REGION
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: REGION
                - name: CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: CLIENT_ID
                - name: CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: CLIENT_SECRET
                - name: TENANT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: TENANT_ID
                - name: KUSTO_CLUSTER
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: KUSTO_CLUSTER
                - name: KUSTO_DATABASE
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: KUSTO_DATABASE
                - name: CVE_LIST
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: CVE_LIST
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                privileged: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
          restartPolicy: Never
      backoffLimit: 4
