@charset "UTF-8";

// Imports
/////////////////////////////////////////

@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

// Breakpoints
/////////////////////////////////////////

$small:       new-breakpoint(max-width 480px, 12);
$medium:      new-breakpoint(max-width 767px, 12);
$large:       new-breakpoint(max-width 1024px, 12);
$xlarge:      new-breakpoint(max-width 1200px, 12);

// Colors
/////////////////////////////////////////

$dark-blue:       darken(#0066CC, 20%);
$medium-blue:     darken(#0066CC, 5%);
$light-blue:      #0066CC;
$green:          #2da52d;
$red:      #ca1b1b;

@import "includes/datatables.scss";

