{% extends "en/layout-en.html" %}

{% block title %}Track digital security compliance{% endblock %}
{% block pageid_en %}domains{% endblock %}
{% block pageid_fr %}domaines{% endblock %}

{% block content %}

{% include 'includes/en/modal.html' %}

<section id="main-content" class="flex-1">

	<header class="bg-grey-lighter py-6">

		{% include 'includes/https/en/header.html' %}

		<div class="text-center mt-8 font-bold">
			<p class="uppercase"><a href="/en/organizations/" class="mr-8 text-blue hover:text-blue-darker mb-8">by organization</a> by domain</a></p>
		</div>

	</header>

	<div id="tab-panel" class="container mx-auto" role="tabpanel" aria-hidden="false">
	    <table language="en" class="domain responsive https">
	      <caption class="sr-only">Secure HTTP(S) By Domain. Table is sortable via first row table headers. Each row contains a domain and related attributes.</caption>
	      <thead>
	        <tr>
	          <th class="never"></th>
	          <th class="all">Domain</th>
	          <th class="never">Agency</th>
	          <th class="min-tablet">Enforces HTTPS</th>
	          <th class="min-tablet">HSTS</th>
	          <th class="min-tablet-l">Free of RC4/3DES and SSLv2/SSLv3</th>
	          <th class="min-tablet-l">Preloaded</th>
	          <th class="none" scope="col"></th>
	        </tr>
	      </thead>
	    </table>
  	</div>

</section>

<script src="/static/js/https/domains.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script> 
{% endblock %}