{% extends "en/layout-en.html" %}

{% block title %}Guidance{% endblock %}
{% block pageid_en %}implementation-guidance{% endblock %}
{% block pageid_fr %}mettre-en-oeuvre{% endblock %}

{% block content %}
<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-6 mb-6">
		<h1>Guidance</h1>
		<ul class="leading-normal mb-4">
			<li><a href="#domains" class="text-blue hover:text-blue-darker font-bold">Domains measured</a></li>
			<li><a href="#https" class="text-blue hover:text-blue-darker font-bold">Measuring HTTPS</a></li>
			<li><a href="#origins" class="text-blue hover:text-blue-darker font-bold">Service origins</a></li>
			<li><a href="#dashboard" class="text-blue hover:text-blue-darker font-bold">Reading the dashboard</a></li>
			<li><a href="#guidance" class="text-blue hover:text-blue-darker font-bold">Guidance for implementing HTTPS</a></li>
		</ul>
		<p>This service measures how Government of Canada publicly accessible web services are following best practices on the web. All data is collected from publicly available data sources and is considered public.</p>

		<h2 class="mt-6 mb-4"><a id="domains"></a>Domains measured</h2>
		<p>This service measures the deployment of HTTPS and HSTS for public and privately accessible domains from the Government of Canada. There are around 800 domains at this time.</p>

		<h2 class="mt-6 mb-4"><a id="https"></a>Measuring HTTPS</h2>
		<p>This service analyzes the behaviour of four "endpoints" of every domain and subdomain: <span class="font-mono">http://</span>, <span class="font-mono">http://www</span>, <span class="font-mono">https://</span>, and <span class="font-mono">https://www</span>. Data from these endpoints is used to characterize the overall behavior of a domain or subdomain. These measurements are performed using open source tools:</p>

		<div class="mt-6 mb-6 ml-8">
			<ul class="text-lg list-reset leading-normal">
				<li class="mb-4"><a href="https://github.com/dhs-ncats/pshtt" class="text-blue hover:text-blue-darker font-bold">pshtt</a>, a Python-based HTTPS and HSTS scanning tool maintained by the U.S. Department of Homeland Security.</li>
				<li class="mb-4"><a href="https://github.com/18F/domain-scan" class="text-blue hover:text-blue-darker font-bold">domain-scan</a>, a Python-based tool used for hostname discovery and scanner orchestration. The domain-scan tool is used to discover public subdomains from various sources, and to efficiently coordinate and parallelize pshtt, sslyze, and other tools for large batch scans. The domain-scan tool is maintained by the U.S. General Services Administration.</li>
				<li><a href="https://github.com/nabla-c0d3/sslyze" class="text-blue hover:text-blue-darker font-bold">SSLyze</a>, a Python-based tool used for analyzing the TLS/SSL configuration of a given hostname. SSLyze is maintained by an <a href="https://github.com/nabla-c0d3" class="text-blue hover:text-blue-darker font-bold">independent author</a>.</li>
			</ul>
		</div>

		<p>While this service uses these tools to scan publicly accessible services, organizations can easily make use of these tools themselves in order to scan their internal services.</p>

		<h2 class="mt-6 mb-4"><a id="origins"></a>Service origins</h2>
		<p>This service is based on the U.S. General Services Administration's project, <a href="https://pulse.cio.gov" class="text-blue hover:text-blue-darker font-bold">Pulse</a>, and is built <a href="https://github.com/cds-snc/pulse" class="text-blue hover:text-blue-darker font-bold">in the open</a>.</p>
	</div>

	<div class="bg-grey-light">
		<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 pt-6 pb-2">
			<h2 class="mb-6"><a id="dashboard"></a>Reading the dashboard</h2>
			<h3>Enforces HTTPS</h3>
			<div class="mt-4 mb-6 ml-8">
				<p class="mb-4"><strong>Values:</strong> No, Yes</p>
				<p class="mb-4">Whether a service uses and enforces HTTPS by default. This can be done by redirecting a service's HTTP endpoints to HTTPS, or by only being available over HTTPS.</p>
			</div>

			<h3>HSTS</h3>
			<div class="mt-4 mb-6 ml-8">
				<p class="mb-4"><strong>Values:</strong> No, Yes, Preloaded</p>
				<p class="mb-4">Whether a domain has implemented <a href="http://www.gcpedia.gc.ca/wiki/HTTPS-IG#HTTP_Strict_Transport_Security_.28HSTS.29" class="text-blue hover:text-blue-darker font-bold">HTTP Strict Transport Security</a>, which ensures that modern web browsers will only ever communicate with a domain over HTTPS (even if the user clicks or types in a plain HTTP link).</p>
				<p class="mb-4">"Preloaded" means that the subdomain is <a href="https://https.cio.gov/guide/#options-for-hsts-compliance" class="text-blue hover:text-blue-darker font-bold">considered to be HSTS-compliant</a> due to its parent domain having been preloaded in modern browsers.</p>
				<p class="mb-4">"Yes" means that a valid <span class="font-mono">Strict-Transport-Security</span> header with a <span class="font-mono">max-age</span> value (in seconds) of at least <strong>1 year</strong> (31536000) is present on the domain's default endpoint.</p>
				<p class="mb-4">"No" means that the HSTS header is either missing, or using a max-age of less than 1 year.</p>
			</div>

			<h3>Free of RC4/3DES and SSLv2/SSLv3</h3>
			<div class="mt-4 mb-6 ml-8">
				<p class="mb-4"><strong>Values:</strong> "Yes", "No, uses [...]"</p>
				<p class="mb-4">"Yes" means that the service's primary endpoint does not use the RC4 or 3DES ciphers, and has disabled the SSLv2 and SSLv3 protocols. Disabling these ciphers and protocols is a requirement of TBS’ <a href="http://www.gcpedia.gc.ca/wiki/SPIN_2018-01" class="text-blue hover:text-blue-darker font-bold">Security Policy Implementation Notice</a>.</p>
				<p class="mb-4">"No, uses [...]" will show what known-weak ciphers and protocols are still in use. Examples include "No, uses SSLv2", or "No, uses 3DES, RC4", etc.</p>
			</div>

			<h3>Preloaded</h3>
			<div class="mt-4 mb-6 ml-8">
				<p class="mb-4"><strong>Values:</strong> No, Ready, Yes</p>
				<p class="mb-4">"Yes" means that the domain is actually in the publicly versioned <a href="https://chromium.googlesource.com/chromium/src/+/master/net/http/transport_security_state_static.json" class="text-blue hover:text-blue-darker font-bold">Chrome preload list</a>, and has the <span class="font-mono">include_subdomains</span> flag enabled in that list. Reaching this step effectively means that a domain's namespace is permanently and fully committed to HTTPS.</p>
				<p class="mb-4">"Ready" means that the domain has implemented a strong HSTS policy on its <strong>bare domain</strong> whose policy covers all subdomains, and has indicated consent to <a href="https://hstspreload.org/" class="text-blue hover:text-blue-darker font-bold">preloading by all major browsers</a> as HTTPS-only. If the domain can be safely preloaded, the domain owner should <a href="https://hstspreload.org/" class="text-blue hover:text-blue-darker font-bold">visit the preloading form and submit their domain</a>.</p>
			</div>		

		</div>
	</div>
	<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-8">
		<h2 class="mb-4"><a id="guidance"></a>Guidance for implementing HTTPS</h2>
		<p>The process of enabling and enforcing strong HTTPS for a web service can vary widely based on the technology, size, and age of the service.</p>
		<p>Government organizations working on deploying HTTPS are encouraged to consult the <a href="http://www.gcpedia.gc.ca/wiki/HTTPS_Initiative" class="text-blue hover:text-blue-darker font-bold">HTTPS Initiative on GCpedia</a> for detailed best practices and technical guidance.</p>
	</div>

</section>
{% endblock %}
