{% extends "en/layout-en.html" %}

{% block title %}Feedback{% endblock %}
{% block pageid_en %}help{% endblock %}
{% block pageid_fr %}aide{% endblock %}

{% block content %}
<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-6">
		<h1>Feedback</h1>
		<p>For inquiries, questions, or comments about this dashboard or implementing HTTPS, please send an email to <a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-blue hover:text-blue-darker font-bold">TBS Cyber Security</a> or join the <a href="https://gcconnex.gc.ca/groups/profile/35218846/gc-https-everywhere-2018-https-partout-dans-le-gc-2018?language=en" class="text-blue hover:text-blue-darker font-bold">HTTPS Everywhere group on GCconnex</a>.</p>
	</div>

</section>
{% endblock %}
