<!doctype html>
<html lang="en">

<head>
	
	<title>{% block title %}{% endblock title %}</title>
	
	{% include 'includes/head.html' %}
	
</head>

<body class="flex flex-col h-screen ">

	<header role="banner">

		<!-- Alpha bar -->

		{% include 'includes/en/alpha-bar.html' %}

		<!-- GOC Identity Bar -->

	    <section id="goc-fip-bar">
	        <div class="container mx-auto flex">
	            <div class="flex-1 pt-2 pb-2">
	                <a href="https://www.canada.ca/en.html" aria-label="Government of Canada">
	                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
	                            aria-label="Symbol of the Government of Canada" class="h-6"></object>
	                </a>
	            </div>

	            <div class="flex-1 text-right pt-2 pb-2 hidden sm:inline">
	                <h2 class="sr-only">Language selection</h2>
	                <a href="/fr/{% block pageid %}{% endblock %}" class="text-white" lang="fr">Français</a>
	            </div>
	        </div>
	    </section>

	     <!-- Navigation -->

	     {% include 'includes/en/navigation.html' %}

	     <nav id="menu-content" class="shadow-md">
		    <ul class="list-reset ml-4 mr-2 mt-4">
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/organizations/">Track digital security compliance</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/guidance">Guidance</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/feedback/">Feedback</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/fr/{{ self.pageid() }}" lang="fr">Français</a></li>
		    </ul>
		</nav>

	</header>

	<main class="flex-1">

		{% block content %}{% endblock %}

	</main>

	{% include 'includes/en/footer.html' %}

<script src="/static/js/main.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/tables.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

</body>
</html>
