<!doctype html>
<html lang="en" class="flex">

<head>
	
	<title>{% block title %}{% endblock title %}</title>
	
	{% include 'includes/head.html' %}
	
</head>

<body class="flex flex-1 flex-col min-h-screen">

	<header role="banner" id="header">

		<!-- Alpha bar -->

		{% include 'includes/en/alpha-bar.html' %}

		<!-- GOC Identity Bar -->

	    <section id="goc-fip-bar">
	        <div class="container mx-auto flex">
	            <div class="flex-1 pt-2 pb-2">
	                <a href="https://www.canada.ca/en.html" aria-label="Government of Canada">
	                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
	                            aria-label="Symbol of the Government of Canada" class="h-6"></object>
	                </a>
	            </div>

	            <div class="flex-1 text-right pt-2 pb-2 hidden sm:inline">
	                <h2 class="sr-only">Language selection</h2>
	                <a href="/fr/{{ self.pageid_fr() }}" class="text-white" lang="fr">Français</a>
	            </div>
	        </div>
	    </section>

	     <!-- Navigation -->

	     <nav class="bg-grey-light">
			<div class="container mx-auto flex">
				<div class="{{ self.pageid_fr() | site_title(false) }}">
					<h2 class="py-6 text-lg sm:text-xl hidden sm:block"><a class="underline text-black" href="/en/index/">Track digital security compliance</a></h2>
				</div>
		        <div role="navigation" class="flex-1">
		            <ul class="list-reset flex justify-end text-lg sm:text-xl font-bold">
		                <li class="py-6 inline sm:hidden">
		                    <a id="menu-btn" class="text-blue hover:text-blue-darker" href="#">Menu</a>
		                </li>
		                 <li class="mr-8 py-6 hidden sm:inline">
		                    <a class="text-blue hover:text-blue-darker" href="/en/organizations/">Check Compliance</a>
		                </li>
		                <li class="mr-8 py-6 hidden sm:inline">
		                    <a class="text-blue hover:text-blue-darker" href="/en/implementation-guidance/">Implementation guidance</a>
		                </li>
		                <li class="py-6 hidden sm:inline">
		                    <a class="text-blue hover:text-blue-darker" href="/en/help/">Get help</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>

	     <nav id="menu-content" class="shadow-md">
		    <ul class="list-reset ml-4 mr-2 mt-4">
		        <li class="{{ self.pageid_fr() | site_title(true) }}"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/index/">Track digital security compliance</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/organizations/">Check Compliance</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/implementation-guidance/">Implementation guidance</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/en/help/">Get help</a></li>
		        <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/fr/{{ self.pageid_fr() }}" lang="fr">Français</a></li>
		    </ul>
		</nav>

	</header>

	<main class="flex flex-auto">

		{% block content %}{% endblock %}

	</main>

	{% include 'includes/en/footer.html' %}

<script src="/static/js/main.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/tables.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

</body>
</html>
