[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
emoji = "*"
requests = "*"
redis = "*"
rq = "*"
supervisor = "*"
Flask = "*"

[dev-packages]
pytest = "*"
pretend = "*"

[scripts]
test = "pytest -s"
