apiVersion: batch/v1
kind: Job
metadata:
  name: guidance
  namespace: scanners
spec:
  template:
    metadata:
      labels:
        job: guidance
    spec:
      containers:
        - name: guidance
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/services/guidance:master-8a6d27a-1750344588 # {"$imagepolicy": "flux-system:guidance"}
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_PASS
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_URL
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_NAME
      restartPolicy: OnFailure
