[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
emoji = "*"
requests = ">=2.18.4"
python-arango = "*"
pretend = "*"
httptools = "*"
asyncio-nats-client = "*"
gql = "*"

[dev-packages]
pytest = "*"

[scripts]
service = "python https_processor.py"
