<!doctype html>
<html lang="en">

<head>
	
	<title>Page not found / Page non trouvée</title>
	
	{% include 'includes/head.html' %}

	<meta name="description" content="Sorry, the page you are looking for doesn’t exist / Désolé, la page que vous recherchez n'existe pas">
	
</head>

<body class="flex flex-col h-screen ">

	<header role="banner">

		<section id="goc-fip-bar">
	        <div class="container mx-auto flex">
	            <div class="flex-1 pt-2 pb-2">
	                <a href="https://www.canada.ca/" aria-label="Government of Canada">
	                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
	                    	aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada" class="h-6"></object>
	                </a>
	            </div>
	        </div>
	    </section>

	</header>

	<main class="flex-1">

		<section id="main-content">
			<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-8 mb-6">
			  <h1 class="sr-only">Page not found / Page non trouvée</h1>

			  <div class="flex flex-col md:flex-row">
			  	<div class="mb-6 md:mb-0">
			  		<h2 class="mb-4 text-3xl">Page not found</h2>
			  		<p class="md:mr-4 font-bold">Sorry, the page you are looking for doesn’t exist.</p>
			  		<p class="md:mr-4"><a href="/en/index/" class="text-https-blue hover:text-black font-bold">← Home</a></p>
			  	</div>
			  	<div lang="fr">
			  		<h2 class="mb-4 md:ml-4 text-3xl">Page non trouvée</h2>
			  		<p class="md:ml-4 font-bold">Désolé, la page que vous recherchez n'existe pas.</p>
			  		<p class="md:ml-4"><a href="/fr/index/" class="text-https-blue hover:text-black font-bold">← Accueil</a></p>
			  	</div>
			  </div>

			</div>
		</section>

	</main>

	<footer id="goc-footer" class="bg-white">

	    <div class="flex flex-col-reverse sm:flex-row container mx-auto">
	        <div class="flex-1 text-center sm:text-right min-width-full mb-2 sm:mb-0">
	            <object class="h-8" type="image/svg+xml" tabindex="-1" role="img" data="/static/images/wordmark-light.svg" aria-label="Symbol of the Government of Canada / Symbole du gouvernement du Canada"></object>
	        </div>
	    </div>

	</footer>

</body>
</html>