<header class="bg-grey-lighter py-6">
	<div class="container mx-auto items-center sm:w-4/5 lg:w-3/5">
		<h1>HTTPS</h1>
		<h2 class="mb-6">Last updated April 16, 2018</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu dolor eget eros consequat congue. Nunc congue arcu imperdiet metus.</p>

		<div class="flex justify-center sm:flex-col md:flex-row lg:flex-row xl:flex-row mt-6">
			<div class="flex-1 items-center text-center">
				<h3 class="font-bold text-2xl">HTTPS Enforced</h3>
				<div class="https_chart" data-width="287"></div>
			</div>
			<div class="flex-1 items-center text-center">
				<h3 class="font-bold text-2xl">HSTS</h3>
				<div class="hsts_chart" data-width="287"></div>
			</div>
			{% include 'includes/https/donut.html' %}
		</div>
	</div>
	<div class="text-center mt-8 font-bold">
		<p class="uppercase"><a href="#" class="mr-8 text-blue hover:text-blue-darker">by organization</a> by domain</p>
	</div>
</header>