apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-processor
  labels:
    app: web-processor
  namespace: scanners
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-processor
  strategy: {}
  template:
    metadata:
      labels:
        app: web-processor
    spec:
      securityContext:
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: web-processor
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/web-processor:master-279326f-1768414958 # {"$imagepolicy": "flux-system:web-processor"}
          env:
            - name: LOGGER_LEVEL
              value: INFO
            - name: SCAN_THREAD_COUNT
              value: "2"
            - name: DB_NAME
              value: track_dmarc
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_URL
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_PASS
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_USER
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          resources: {}
          imagePullPolicy: Always
status: {}
