* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #bed1df;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #F1F5F8;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

#goc-footer {
  margin-top: 0rem !important;
  border-color: #999999 !important;
  border-top-width: 0.05rem !important; }

#modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7); }

#modal-content {
  height: 80%; }

.modal-open {
  overflow: hidden; }

.beta-badge {
  background-color: #22A7F0; }

table caption {
  left: -10000px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px; }

.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; }

.subdomain .link {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

tr.subdomain, tr.host {
  font-size: 0.75em; }

.rotated {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari */
  transform: rotate(-90deg); }

.dataTables_wrapper {
  padding: 60px 0 40px; }
  .dataTables_wrapper .dataTables_length {
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 10px;
    padding-left: 10px; }
    .dataTables_wrapper .dataTables_length a {
      text-decoration: underline;
      cursor: pointer; }
    .dataTables_wrapper .dataTables_length a.active, .dataTables_wrapper .dataTables_length a.active:hover {
      text-decoration: none;
      color: black !important; }
    .dataTables_wrapper .dataTables_length select {
      border: none;
      display: inline-block;
      color: white;
      width: 60px;
      border-radius: 0px;
      padding: 0 8px;
      margin: 0 5px;
      height: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: url("/assets/images/arrow-down.png") 73%/15% no-repeat #0059b3; }
      .dataTables_wrapper .dataTables_length select::-ms-expand {
        display: none; }
  .dataTables_wrapper table.dataTable {
    padding: 20px 0; }
    .dataTables_wrapper table.dataTable .success {
      color: #2da52d; }
    .dataTables_wrapper table.dataTable .warning {
      color: #ca1b1b; }
    .dataTables_wrapper table.dataTable .indents {
      padding-left: 80px;
      line-height: 23px; }
    .dataTables_wrapper table.dataTable a {
      text-decoration: underline;
      color: #0071E1 !important; }
    .dataTables_wrapper table.dataTable a:hover {
      color: black !important; }
    .dataTables_wrapper table.dataTable a.loading {
      text-decoration: none !important;
      color: black !important; }
    .dataTables_wrapper table.dataTable th, .dataTables_wrapper table.dataTable td {
      border-bottom: 1px solid #888 !important;
      padding: 8px 0 8px 40px;
      font-weight: normal; }
    .dataTables_wrapper table.dataTable td:first {
      padding: 8px 0 8px 30px !important; }
    .dataTables_wrapper table.dataTable td.compliant {
      border-left: 0px solid black;
      border-right: 0px solid black;
      background-color: #EFEFEF; }
    .dataTables_wrapper table.dataTable thead .sorting, .dataTables_wrapper table.dataTable thead .sorting_asc, .dataTables_wrapper table.dataTable thead .sorting_desc, .dataTables_wrapper table.dataTable thead .sorting_asc_disabled, .dataTables_wrapper table.dataTable thead .sorting_desc_disabled {
      background-position: 20px center; }
    .dataTables_wrapper table.dataTable.no-footer {
      border: none; }
    .dataTables_wrapper table.dataTable td.odd:first-child,
    .dataTables_wrapper table.dataTable td.even:first-child {
      white-space: nowrap; }
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed td:first-child:before {
      top: 9px;
      background-color: #3399ff; }
    .dataTables_wrapper table.dataTable.dtr-inline.collapsed th:first-child:before {
      top: 9px;
      background-color: #3399ff; }
    .dataTables_wrapper table.dataTable > tbody > tr.child td.child {
      padding-top: 0px; }
    .dataTables_wrapper table.dataTable > tbody > tr.child ul li {
      border-bottom: none;
      padding: 0 0 0px 0; }
    .dataTables_wrapper table.dataTable > tbody > tr.child span.dtr-title {
      min-width: 0px; }
    .dataTables_wrapper table.dataTable.https.domain tbody tr.parent td {
      border-bottom: none !important; }
    .dataTables_wrapper table.dataTable.https.domain tbody tr:hover {
      background-color: #EFEFEF;
      cursor: pointer; }
      .dataTables_wrapper table.dataTable.https.domain tbody tr:hover + .child {
        background-color: #EFEFEF; }
    .dataTables_wrapper table.dataTable.https.domain tbody tr.child:hover span.dtr-data {
      text-decoration: underline; }
    .dataTables_wrapper table.dataTable.https.domain tbody tr.host td.link {
      padding-left: 60px; }
    .dataTables_wrapper table.dataTable.organization td {
      padding: 15px 0 15px 40px !important; }
      @media screen and (max-width: 1024px) {
        .dataTables_wrapper table.dataTable.organization td {
          padding-left: 32px !important; }
          .dataTables_wrapper table.dataTable.organization td:first-child:before {
            top: 30px !important; } }
      @media screen and (max-width: 768px) {
        .dataTables_wrapper table.dataTable.organization td:first-child:before {
          top: 15px !important; } }
    .dataTables_wrapper table.dataTable.organization .progress-bar-indication, .dataTables_wrapper table.dataTable.domain .progress-bar-indication {
      background-color: #888888;
      border-radius: 20px;
      width: 70%;
      position: relative;
      left: 35px; }
      .dataTables_wrapper table.dataTable.organization .progress-bar-indication > .meter, .dataTables_wrapper table.dataTable.domain .progress-bar-indication > .meter {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #0071E1;
        background-repeat: repeat-x;
        background-size: 40px 40px;
        border-radius: 20px 0 0 20px;
        margin: 15px 0;
        display: block;
        height: 100%;
        width: 60%; }
        .dataTables_wrapper table.dataTable.organization .progress-bar-indication > .meter.width100, .dataTables_wrapper table.dataTable.domain .progress-bar-indication > .meter.width100 {
          border-radius: 20px; }
        .dataTables_wrapper table.dataTable.organization .progress-bar-indication > .meter.width1, .dataTables_wrapper table.dataTable.domain .progress-bar-indication > .meter.width1 {
          background-color: transparent; }
        .dataTables_wrapper table.dataTable.organization .progress-bar-indication > .meter.width2, .dataTables_wrapper table.dataTable.domain .progress-bar-indication > .meter.width2 {
          background-color: transparent; }
        .dataTables_wrapper table.dataTable.organization .progress-bar-indication > .meter.width3, .dataTables_wrapper table.dataTable.domain .progress-bar-indication > .meter.width3 {
          background-color: transparent; }
      .dataTables_wrapper table.dataTable.organization .progress-bar-indication p, .dataTables_wrapper table.dataTable.domain .progress-bar-indication p {
        font-size: 0.875em;
        position: relative;
        top: 5px;
        left: -48px; }
  .dataTables_wrapper .dataTables_info {
    padding-top: 8px !important;
    font-size: 0.875em; }
  .dataTables_wrapper .dataTables_info:after {
    content: "" !important; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button {
    padding: 8px 8px !important;
    font-size: 0.875em;
    border: none !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
      background: #0071E1 !important;
      color: white !important; }
      .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
        color: white !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button:focus {
      background: #0071E1 !important;
      color: white !important; }
    .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:focus {
      background: transparent !important; }

#menu-content {
  background: #FFFFFF;
  overflow-y: auto;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-230px);
  -moz-transform: translateX(-230px);
  -ms-transform: translateX(-230px);
  -o-transform: translateX(-230px);
  transform: translateX(-230px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  #menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

/*# sourceMappingURL=main.css.map */
