@import "variables";
@import "tables";

#goc-footer {
	margin-top: 0rem !important;
}

#modal {
	background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 
}

#modal-content {
	height: 80%;
}

