apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
secretGenerator:
- files:
  - identity
  - identity.pub
  - known_hosts
  name: flux-credentials
  namespace: flux-system
generatorOptions:
  disableNameSuffixHash: true
