apiVersion: batch/v1
kind: CronJob
metadata:
  name: update-selectors
  namespace: scanners
spec:
  timeZone: America/Toronto
  schedule: "50 19 * * *"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: update-selectors
        spec:
          securityContext:
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: update-selectors
              image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/services/update-selectors:master-8856266-1768485777 # {"$imagepolicy": "flux-system:update-selectors"}
              env:
                - name: ARANGO_DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_USER
                - name: ARANGO_DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_PASS
                - name: ARANGO_DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_NAME
                - name: ARANGO_DB_URL
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_URL
                - name: COSMOS_DB_CONN_STRING
                  valueFrom:
                    secretKeyRef:
                      name: dmarc
                      key: AZURE_CONN_STRING
                - name: COSMOS_DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: dmarc
                      key: DATABASE
                - name: COSMOS_DB_SELECTORS_CONTAINER
                  valueFrom:
                    secretKeyRef:
                      name: dmarc
                      key: DKIM_SELECTORS_CONTAINER
                - name: REMOVE_SELECTORS
                  value: "false"
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                privileged: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
          restartPolicy: Never
      backoffLimit: 4
