apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../bases
- storage-classes.yaml
- backup-cronjob.yaml
patchesStrategicMerge:
- arangodb-deployment.yaml
- certificate.yaml
- publicgateway.yaml
replicas:
- count: 2
  name: tracker-frontend
- count: 2
  name: tracker-api
- count: 1
  name: arango-deployment-replication-operator
- count: 1
  name: arango-deployment-operator
- count: 1
  name: arango-storage-operator
components:
- ../namespaces
