apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    job: backup
  name: backup
  namespace: db
spec:
  timeZone: America/Toronto
  schedule: 30 18 * * *
  startingDeadlineSeconds: 180
  concurrencyPolicy: Replace
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            job: backup
        spec:
          containers:
            - args:
                - rclone copy /tmp/dump :azureblob:dbdump/tracker-backup-$(date -Iminutes)
              command:
                - /bin/sh
                - -c
              env:
                - name: RCLONE_AZUREBLOB_ACCOUNT
                  valueFrom:
                    secretKeyRef:
                      key: az-dbdump-account
                      name: az-dbdump-account
                - name: RCLONE_AZUREBLOB_KEY
                  valueFrom:
                    secretKeyRef:
                      key: az-dbdump-sak
                      name: az-dbdump-sak
              volumeMounts:
                - mountPath: /tmp/dump
                  name: dump
              image: rclone/rclone
              name: upload
              resources:
                requests:
                  cpu: 100m
          initContainers:
            - args:
                - arangodump
                - --server.endpoint=tcp://arangodb:8529
                - --server.username=$(DB_USER)
                - --server.password=$(DB_PASS)
                - --server.database=track_dmarc
                - --output-directory=/tmp/dump
              env:
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      key: username
                      name: arangodb
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      key: password
                      name: arangodb
              image: docker.io/library/arangodb:3.12.3
              name: dump
              volumeMounts:
                - mountPath: /tmp/dump
                  name: dump
              resources:
                requests:
                  cpu: 100m
          restartPolicy: Never
          volumes:
            - emptyDir: {}
              name: dump
