apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
# envoy-gzip.yaml is still breaking one-time scans, re-add once fixed
- envoy-security-headers-filter.yaml
- istio-manifests.yaml
- operator.yaml
