apiVersion: apps/v1
kind: Deployment
metadata:
  name: log4shell-scanner
  namespace: scanners
spec:
  selector:
    matchLabels:
      app: log4shell-scanner
  strategy: {}
  template:
    metadata:
      labels:
        app: log4shell-scanner
    spec:
      containers:
        - name: log4shell-scanner
          image: gcr.io/track-compliance/log4shell-scanner:master-c3f48cc-1640366617 # {"$imagepolicy": "flux-system:log4shell-scanner"}
          env:
            - name: PYTHONWARNINGS
              value: ignore
            - name: PUBLISH_TO
              value: domains
            - name: SUBSCRIBE_TO
              value: domains.*
            - name: QUEUE_GROUP
              value: log4shellscanner
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
            - name: TIMEOUT
              value: "4"
            - name: NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          imagePullPolicy: Always
          resources: {}
status: {}
