DB_USER=
DB_PASS=
DB_NAME=
DB_URL=

DETECT_DECAY_START_HOUR=
DETECT_DECAY_START_MINUTE=

NOTIFICATION_API_URL=
NOTIFICATION_API_KEY=
DETECT_DECAY_EMAIL_TEMPLATE_ID=

SERVICE_ACCOUNT_EMAIL=
DETECT_DECAY_DRY_RUN_LOG_MODE=
DETECT_DECAY_DRY_RUN_EMAIL_MODE=