apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../bases/arangodb
- ../../bases/cert-manager
- ../../bases/istio
- ../../bases/nats
- backup-cronjob.yaml
- backup-service-account.yaml
- storage-classes.yaml
#- https://raw.githubusercontent.com/istio/istio/release-1.13/samples/addons/jaeger.yaml
#- https://raw.githubusercontent.com/istio/istio/release-1.13/samples/addons/kiali.yaml
#- https://raw.githubusercontent.com/istio/istio/release-1.13/samples/addons/prometheus.yaml
patchesStrategicMerge:
  - arangodb-retain-storage-patch.yaml
  - arangodb-memory-limit-patch.yaml
  - certificate-issuer-patch.yaml
  - cert-manager-service-account-patch.yaml
