apiVersion: apps/v1
kind: Deployment
metadata:
  name: dns-processor
  labels:
    app: dns-processor
  namespace: scanners
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dns-processor
  strategy: {}
  template:
    metadata:
      labels:
        app: dns-processor
    spec:
      securityContext:
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: dns-processor
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/dns-processor:master-456f5e0-1763570888 # {"$imagepolicy": "flux-system:dns-processor"}
          env:
            - name: LOGGER_LEVEL
              value: INFO
            - name: SCAN_THREAD_COUNT
              value: "2"
            - name: DB_NAME
              value: track_dmarc
            - name: DB_URL
              value: http://arangodb.db:8529
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_PASS
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_USER
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
            - name: NOTIFICATION_API_KEY
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: NOTIFICATION_API_KEY
            - name: NOTIFICATION_API_URL
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: NOTIFICATION_API_URL
            - name: NOTIFICATION_ASSET_CHANGE_ALERT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: NOTIFICATION_ASSET_CHANGE_ALERT_EMAIL
            - name: ALERT_SUBS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: ALERT_SUBS
                  optional: true
          resources: {}
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          imagePullPolicy: Always
status: {}
