// Track-digital site header (and navigation)
/////////////////////////////////////////

#menu-content{
  $sliding-panel-width: 220px;
  background: #F8FAFC;
  overflow-y: auto;
  z-index: 999999;
  -webkit-overflow-scrolling: touch;

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width 100%);
  @include transform(translateX(- 230px));
  @include transition(all 0.25s linear);

  &.is-visible {
    @include transform(translateX(0));
  }
}

.overlay {
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  @include position(fixed, 0 0 0 0);
  @include transition;

  &.is-visible {
    visibility: visible;
  }
}
  // Based on code by Diego Eis


