attrs==22.2.0
certifi==2024.7.4
charset-normalizer==3.4.1
emoji==2.2.0
exceptiongroup==1.1.0
idna==3.7
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
pretend==1.0.9
PyJWT==2.6.0
pytest==7.2.2
python-arango==7.5.7
python-dotenv==1.0.0
requests==2.32.0
requests-toolbelt==0.10.1
tomli==2.0.1
urllib3==1.26.19
