<!-- The Modal -->
<div id="modal" class="hidden fixed pin z-50">

	  <!-- Modal content --> 
	  <div id="modal-content" tabindex="-1" role="dialog" aria-labelledby="table compliance definitions" class="relative bg-white w-3/4 m-auto flex-col py-2 overflow-auto flex-initial">
	  	<div id="close" class="w-full text-right pr-6"><span class="close-symbol"><a id="close-btn" class="no-underline text-black text-3xl lg:text-5xl" href="#">&times;</a></span></div>
	  	<div class="container lg:w-5/6 mx-auto">
		    <h2 id="modal-header" tabindex="-1" class="text-3xl lg:text-5xl font-bold mb-4">Compliance definitions</h2>
		    <p class="text-xl lg:text-2xl mb-8">We are tracking Canadian government web security compliance based off the following criteria:</p>
		    <h3 class="text-xl lg:text-2xl font-bold mb-4">IT PIN</h3>
		    <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p class="text-base lg:text-lg">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p class="text-base lg:text-lg"><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

			<hr class="border mt-4 mb-4">

			<h3 class="text-xl lg:text-2xl font-bold mb-4">Enforces HTTPS</h3>
		    <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p class="text-base lg:text-lg">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p class="text-base lg:text-lg"><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-xl lg:text-2xl font-bold mb-4">HSTS</h3>
		    <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p class="text-base lg:text-lg">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p class="text-base lg:text-lg"><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-xl lg:text-2xl font-bold mb-4">Free of known weak protocols and ciphers</h3>
		    <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p class="text-base lg:text-lg">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p class="text-base lg:text-lg"><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

		    <hr class="border mt-4 mb-4">

		    <h3 class="text-xl lg:text-2xl font-bold mb-4">Uses approved certificates</h3>
		    <p class="text-base lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit dui nec consequat bibendum. Nam condimentum ac turpis non vestibulum.</p>
		    <p class="text-base lg:text-lg">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam id lacus ac erat congue placerat.</p>
		    <p class="text-base lg:text-lg"><a href="" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>
		</div>

	</div>

</div>