apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: autoscan
  namespace: scanners
spec:
  schedule: "0 1 * * */2"
  concurrencyPolicy: Replace
  startingDeadlineSeconds: 180
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 0
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: scanners
            role: autoscan
        spec:
          containers:
          - name: autoscan
            image: gcr.io/track-compliance/services/autoscan:master-b0e6547-1625576840 # {"$imagepolicy": "flux-system:autoscan"}
            env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_PASS
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_HOST
            - name: DB_PORT
              value: "8529"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: scanners
                  key: DB_NAME
          restartPolicy: OnFailure
