apiVersion: serving.knative.dev/v1 # Current version of Knative
kind: Service
metadata:
  name: scan-queue
  namespace: scanners
  labels:
    app: scanners
spec:
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port:   '9090'
        # Knative concurrency-based autoscaling (default).
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        autoscaling.knative.dev/metric: concurrency
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      timeoutSeconds: 500
      containers:
        - name: scan-queue
          image: gcr.io/track-compliance/services/scan-queue

---

apiVersion: serving.knative.dev/v1 # Current version of Knative
kind: Service
metadata:
  name: result-queue
  namespace: scanners
  labels:
    app: scanners
spec:
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port:   '9090'
        # Knative concurrency-based autoscaling (default).
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        autoscaling.knative.dev/metric: concurrency
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      timeoutSeconds: 500
      containers:
        - name: result-queue
          image: gcr.io/track-compliance/services/result-queue

---

apiVersion: serving.knative.dev/v1 # Current version of Knative
kind: Service
metadata:
  name: ots-scan-queue
  namespace: scanners
  labels:
    app: scanners
spec:
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port:   '9090'
        # Knative concurrency-based autoscaling (default).
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        autoscaling.knative.dev/metric: concurrency
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      timeoutSeconds: 500
      containers:
        - name: ots-scan-queue
          image: gcr.io/track-compliance/services/ots-scan-queue

---

apiVersion: serving.knative.dev/v1 # Current version of Knative
kind: Service
metadata:
  name: ots-result-queue
  namespace: scanners
  labels:
    app: scanners
spec:
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port:   '9090'
        # Knative concurrency-based autoscaling (default).
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        autoscaling.knative.dev/metric: concurrency
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      timeoutSeconds: 500
      containers:
        - name: ots-result-queue
          image: gcr.io/track-compliance/services/ots-result-queue
