apiVersion: batch/v1
kind: CronJob
metadata:
  name: add-easm-assets-to-tracker
  namespace: azure-defender-easm
spec:
  timeZone: America/Toronto
  schedule: "00 7 * * 2"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: add-easm-assets-to-tracker
        spec:
          securityContext:
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: add-easm-assets-to-tracker
              image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/azure-defender-easm/add-easm-assets-to-tracker:master-0516484-1743437860 # {"$imagepolicy": "flux-system:add-easm-assets-to-tracker"}
              env:
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: DB_PASS
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: DB_USER
                - name: DB_URL
                  value: http://arangodb.db:8529
                - name: DB_NAME
                  value: track_dmarc
                - name: NATS_URL
                  value: nats://nats.pubsub:4222
                - name: REGION
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: REGION
                - name: CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: CLIENT_ID
                - name: CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: CLIENT_SECRET
                - name: TENANT_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: TENANT_ID
                - name: KUSTO_CLUSTER
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: KUSTO_CLUSTER
                - name: KUSTO_DATABASE
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: KUSTO_DATABASE
                - name: UNCLAIMED_ID
                  valueFrom:
                    secretKeyRef:
                      name: azure-defender-easm
                      key: UNCLAIMED_ID
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                privileged: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
          restartPolicy: Never
      backoffLimit: 4
