apiVersion: database.arangodb.com/v1alpha
kind: ArangoDeployment
metadata:
  name: arangodb
  namespace: db
spec:
  metadata:
  image: arangodb/arangodb:3.12.3
  environment: Development
  mode: Single
  tls:
    caSecretName: None
  externalAccess:
    type: None
  bootstrap:
    passwordSecretNames:
      root: arangodb
  metrics:
    enabled: true
  coordinators:
    count: 1
  agents:
    count: 1
  dbservers:
    count: 1
