<footer id="goc-footer" class="bg-black">
    <div class="flex flex-col-reverse sm:flex-row container mx-auto">
    	<div class="flex-1">
	        <ul class="list-reset flex justify-center sm:justify-start">
	            <li class="py-2"><a href="" class="text-white">Confidentialité</a></li>
	            <li class="py-2"><a href="" class="text-white">Avis</a></li>
	        </ul>
	    </div>
        <div class="flex-1 text-center sm:text-right min-width-full mb-2 sm:mb-0">
            <object class="h-10" type="image/svg+xml" tabindex="-1" role="img" data="/static/images/wordmark-dark.svg" aria-label="Symbol of the Government of Canada"></object>
        </div>
    </div>
</footer>
