<header role="banner">
    <div id="skiptocontent"><a href="#main-content">Passer au contenu principal</a></div>

    <!-- Alpha bar -->

    <section class="bg-grey-darkest py-4 text-xs sm:text-sm sm:block md:block lg:block xl:block">
        <div class="container mx-auto text-white flex items-center">
            <span class="flex-initial">
                <span class="bg-blue-dark py-2 px-4 rounded uppercase mr-4">Alpha</span>
            </span>
            <span class="flex-1">Il s’agit d’un service interne.</a></span>
        </div>
    </section>

    <!-- GOC Identity Bar -->

    <section id="goc-fip-bar">
        <div class="container mx-auto flex">
            <div class="flex-1 pt-2 pb-2">
                <a href="https://www.canada.ca/en.html" aria-label="Government of Canada">
                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
                            aria-label="Symbol of the Government of Canada" class="h-6"></object>
                </a>
            </div>

            <div class="flex-1 text-right pt-2 pb-2 hidden sm:inline">
                <h2 class="sr-only">Sélection de la langue</h2>
                <a href="" class="text-white" lang="en">English</a>
            </div>
        </div>
    </section>

    <!-- Navigation -->

    <nav class="bg-grey-light">
    	<div class="container mx-auto flex">
    		<div class="flex-1">
    			<h2 class="py-6 text-lg sm:text-xl"><a class="underline text-black" href="/fr/organizations/">Consulter la conformité liée à la sécurité numérique</a></h2>
    		</div>
	        <div role="navigation" class="flex-1">
	            <ul class="list-reset flex justify-end text-lg sm:text-xl font-bold">
                    <li class="py-6 inline sm:hidden">
                        <a id="menu-btn" class="text-blue hover:text-blue-darker" href="#">Menu</a>
                    </li>
	                <li class="mr-8 py-6 px-2 hidden sm:inline">
	                    <a class="text-blue hover:text-blue-darker" href="/fr/guidance/">Directives</a>
	                </li>
	                <li class="py-6 hidden sm:inline">
	                    <a class="text-blue hover:text-blue-darker" href="/fr/feedback/">Rétroaction</a>
	                </li>
	            </ul>
	        </div>
	    </div>
    </nav>

    <nav id="menu-content" class="shadow-md">
        <ul class="list-reset ml-4 mt-4">
            <li class="mb-4"><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/fr/guidance">Directives</a></li>
            <li><a tabindex="-1" class="text-xl text-blue hover:text-blue-darker font-bold" href="/fr/feedback/">Rétroaction</a></li>
        </ul>
    </nav>

</header>
