apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
# envoy-gzip.yaml is still breaking one-time scans, re-add once fixed
- ecdh-curves-patch.yaml
- envoy-security-headers-filter.yaml
- ingress-gateway.yaml
