apiVersion: apps/v1
kind: Deployment
metadata:
  name: add-domain-to-easm
  labels:
    app: add-domain-to-easm
  namespace: azure-defender-easm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: add-domain-to-easm
  strategy: {}
  template:
    metadata:
      labels:
        app: add-domain-to-easm
    spec:
      securityContext:
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: add-domain-to-easm
          image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/azure-defender-easm/add-domain-to-easm:master-35c323f-1730989342 # {"$imagepolicy": "flux-system:add-domain-to-easm"}
          env:
            - name: NATS_SERVERS
              value: nats://nats.pubsub:4222
            - name: SUBSCRIPTION_ID
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: SUBSCRIPTION_ID
            - name: WORKSPACE_NAME
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: WORKSPACE_NAME
            - name: RESOURCE_GROUP
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: RESOURCE_GROUP
            - name: REGION
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: REGION
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: CLIENT_ID
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: CLIENT_SECRET
            - name: TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: TENANT_ID
            - name: KUSTO_CLUSTER
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: KUSTO_CLUSTER
            - name: KUSTO_DATABASE
              valueFrom:
                secretKeyRef:
                  name: azure-defender-easm
                  key: KUSTO_DATABASE
          resources: {}
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
status: {}
