apiVersion: batch/v1
kind: CronJob
metadata:
  name: summaries
  namespace: scanners
spec:
  timeZone: America/Toronto
  schedule: "00 8 * * *"
  concurrencyPolicy: Replace
  startingDeadlineSeconds: 180
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: summaries
        spec:
          securityContext:
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: summaries
              image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/services/summaries:master-12325e1-1768415866 # {"$imagepolicy": "flux-system:summaries"}
              env:
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_USER
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_PASS
                - name: DB_URL
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_URL
                - name: DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: scanners
                      key: DB_NAME
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                privileged: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
          restartPolicy: OnFailure
