apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: tracker-api
  name: tracker-api
  namespace: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tracker-api
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: tracker-api
    spec:
      securityContext:
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      initContainers:
        - image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/database-migration:master-c2bf017-1724238601 # {"$imagepolicy": "flux-system:database-migration"}
          name: database-migration
          env:
            - name: DB_USER
              value: root
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_PASS
            - name: ROOT_PASS
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_PASS
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_NAME
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_URL
      containers:
        - image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/api-js:master-912edec-1730822122 # {"$imagepolicy": "flux-system:api"}
          name: api
          ports:
            - containerPort: 4000
          env:
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_PASS
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_NAME
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DB_URL
            - name: CIPHER_KEY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: CIPHER_KEY
            - name: AUTHENTICATED_KEY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: AUTHENTICATED_KEY
            - name: REFRESH_KEY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: REFRESH_KEY
            - name: SIGN_IN_KEY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: SIGN_IN_KEY
            - name: AUTH_TOKEN_EXPIRY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: AUTH_TOKEN_EXPIRY
            - name: REFRESH_TOKEN_EXPIRY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: REFRESH_TOKEN_EXPIRY
            - name: LOGIN_REQUIRED
              valueFrom:
                secretKeyRef:
                  name: api
                  key: LOGIN_REQUIRED
            - name: NATS_URL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NATS_URL
            - name: NOTIFICATION_API_KEY
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_API_KEY
            - name: NOTIFICATION_API_URL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_API_URL
            - name: DEPTH_LIMIT
              valueFrom:
                secretKeyRef:
                  name: api
                  key: DEPTH_LIMIT
            - name: COST_LIMIT
              valueFrom:
                secretKeyRef:
                  name: api
                  key: COST_LIMIT
            - name: SCALAR_COST
              valueFrom:
                secretKeyRef:
                  name: api
                  key: SCALAR_COST
            - name: OBJECT_COST
              valueFrom:
                secretKeyRef:
                  name: api
                  key: OBJECT_COST
            - name: LIST_FACTOR
              valueFrom:
                secretKeyRef:
                  name: api
                  key: OBJECT_COST
            - name: NOTIFICATION_AUTHENTICATE_EMAIL_ID
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_AUTHENTICATE_EMAIL_ID
            - name: NOTIFICATION_AUTHENTICATE_TEXT_ID
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_AUTHENTICATE_TEXT_ID
            - name: NOTIFICATION_ORG_INVITE_CREATE_ACCOUNT_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_ORG_INVITE_CREATE_ACCOUNT_BILINGUAL
            - name: NOTIFICATION_PASSWORD_RESET_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_PASSWORD_RESET_BILINGUAL
            - name: NOTIFICATION_TWO_FACTOR_CODE_EN
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_TWO_FACTOR_CODE_EN
            - name: NOTIFICATION_TWO_FACTOR_CODE_FR
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_TWO_FACTOR_CODE_FR
            - name: NOTIFICATION_USERNAME_UPDATED_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_USERNAME_UPDATED_BILINGUAL
            - name: NOTIFICATION_VERIFICATION_EMAIL_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_VERIFICATION_EMAIL_BILINGUAL
            - name: NOTIFICATION_ORG_INVITE_REQUEST_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_ORG_INVITE_REQUEST_BILINGUAL
            - name: NOTIFICATION_ORG_INVITE_BILINGUAL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: NOTIFICATION_ORG_INVITE_BILINGUAL
            - name: TRACING_ENABLED
              valueFrom:
                secretKeyRef:
                  name: api
                  key: TRACING_ENABLED
            - name: HASHING_SALT
              valueFrom:
                secretKeyRef:
                  name: api
                  key: HASHING_SALT
            - name: SERVICE_ACCOUNT_EMAIL
              valueFrom:
                secretKeyRef:
                  name: api
                  key: SERVICE_ACCOUNT_EMAIL
          resources:
            limits:
              cpu: 300m
              memory: 150Mi
            requests:
              cpu: 300m
              memory: 70Mi
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
status: {}
