apiVersion: batch/v1
kind: CronJob
metadata:
  name: domain-cleanup
  namespace: api
spec:
  timeZone: America/Toronto
  schedule: "30 19 * * *"
  concurrencyPolicy: Replace
  startingDeadlineSeconds: 180
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: domain-cleanup
        spec:
          securityContext:
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          containers:
            - name: domain-cleanup
              image: northamerica-northeast1-docker.pkg.dev/track-compliance/tracker/services/domain-cleanup:master-f4cc5c5-1769790020 # {"$imagepolicy": "flux-system:domain-cleanup"}
              env:
                - name: DB_PASS
                  valueFrom:
                    secretKeyRef:
                      name: api
                      key: DB_PASS
                - name: DB_URL
                  valueFrom:
                    secretKeyRef:
                      name: api
                      key: DB_URL
                - name: DB_NAME
                  valueFrom:
                    secretKeyRef:
                      name: api
                      key: DB_NAME
                - name: UNCLAIMED_ORG_ID
                  valueFrom:
                    secretKeyRef:
                      name: api
                      key: UNCLAIMED_ORG_ID
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                privileged: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
          restartPolicy: OnFailure
