certifi==2024.7.4
charset-normalizer==3.3.2
docopt==0.6.2
idna==3.7
nats-py==2.8.0
notifications-python-client==8.0.1
PyJWT==2.8.0
python-arango==7.3.4
python-dotenv==0.20.0
requests==2.32.4
requests-toolbelt==1.0.0
urllib3==2.6.0
