<footer id="goc-footer" class="bg-black">
    <div class="container mx-auto flex">
        <ul class="list-reset">
            <li class="py-2"><a href="" class="text-white">Privacy</a></li>
            <li class="py-2"><a href="" class="text-white">Terms & Conditions</a></li>
        </ul>
        <div class="flex-1 text-right min-width-full">
            <object class="h-10" type="image/svg+xml" tabindex="-1" role="img" data="/static/images/wordmark-dark.svg" aria-label="Symbol of the Government of Canada"></object>
        </div>
    </div>
</footer>
