<header role="banner">
    <div id="skiptocontent"><a href="#main-content">skip to main content</a></div>

    <!-- Alpha bar -->

    <section class="bg-grey-darkest py-4 text-sm sm:block md:block lg:block xl:block">
        <div class="container mx-auto text-white flex items-center">
            <span class="flex-initial">
                <span class="bg-blue-dark py-2 px-4 rounded uppercase mr-4">Alpha</span>
            </span>
            <span class="flex-1">This is an internal service</a>.</span>
        </div>
    </section>

    <!-- GOC Identity Bar -->

    <section id="goc-fip-bar">
        <div class="container mx-auto flex">
            <div class="flex-1 pt-2 pb-2">
                <a href="https://www.canada.ca/en.html" aria-label="Government of Canada">
                    <object type="image/svg+xml" tabindex="-1" role="img" data="/static/images/fip-dark-en.svg"
                            aria-label="Symbol of the Government of Canada" class="h-6"></object>
                </a>
            </div>

            <div class="flex-1 text-right pt-2 pb-2">
                <h2 class="sr-only">Language selection</h2>
                <a href="" class="text-white" lang="fr">Français</a>
            </div>
        </div>
    </section>

    <!-- Navigation -->

    <nav class="bg-grey-light">
    	<div class="container mx-auto flex">
    		<div class="flex-1">
    			<h2 class="py-6 text-xl">HTTPS Everywhere</h2>
    		</div>
	        <div role="navigation" class="flex-1">
	            <ul class="list-reset flex justify-end text-xl font-bold">
	                <li class="mr-8 py-6 px-2">
	                    <a class="text-blue hover:text-blue-darker" href="#">Home</a>
	                </li>
	                <li class="mr-8 py-6 px-2">
	                    <a class="text-blue hover:text-blue-darker" href="#">About</a>
	                </li>
	                <li class="py-6">
	                    <a class="text-blue hover:text-blue-darker" href="#">Feedback</a>
	                </li>
	            </ul>
	        </div>
	    </div>
    </nav>

</header>