[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.18.4"
sslyze = "*"
docopt = ">=0.6.2"
python-dateutil = ">=2.7.3"
pytz = ">=2018.5"
publicsuffix2 = "*"
httptools = "*"
asyncio = "*"
moz-crlite-query = "*"
cryptography = "*"
pyOpenSSL = ">=17.5.0"
asyncio-nats-client = "*"
python-dotenv = "*"

[dev-packages]
black = {editable = true, ref = "21.8b0", git = "https://github.com/psf/black.git"}

[scripts]
service = "python3 tls.py"
black = "black -q -"
