[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.18.4"
asyncio-nats-client = "*"
python-dotenv = "*"

[dev-packages]
black = {editable = true, ref = "21.8b0", git = "https://github.com/psf/black.git"}

[scripts]
service = "python3 service.py"
black = "black -q -"
