[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.4"
asyncio-nats-client = "*"
python-dotenv = "*"

[dev-packages]
black = "*"

[scripts]
service = "python3 service.py"
