{% extends "en/layout-en.html" %}

{% block title %}Track web security compliance - Canada.ca{% endblock %}

{% block pageid_en %}index{% endblock %}
{% block pageid_fr %}index{% endblock %}
{% block description %}Track how government sites are becoming more secure.{% endblock description %}

{% block content %}

<section id="main-content" class="flex-1  py-6" role="contentinfo" aria-label="Track web security compliance">
   <div class="flex flex-col lg:flex-row mx-auto items-auto  sm:w-4/5 xl:w-5/6">
      <div class="flex-1 mt-6 mr-6">
         <h1 class="text-5xl font-black mb-6 w-full">Verification Email Sent</h1>
         <h2 class="text-4xl mb-2 font-black">Making government websites more secure</h2>

          <div class="flex-1 flex-col">
              <h4 style="margin-top: 25px">User has been successfully registered!</h4>
              <p>Please check your inbox for a verification link.  Once you have verified your email you can <a href="/en/sign-in">Sign in</a>.</p>
          </div>
      </div>
   </div>
</section>


{% endblock %}

{% block pagerelatedscript %}

<script src="/static/js/https/donuts.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


{% endblock %}
{% block languageURL %}/fr/index{% endblock %}



{% block datemodified %}{{ scan_date | date(format="%Y-%m-%d")}}{% endblock %}