{% extends "en/layout-en.html" %}

{% block title %}Check compliance - By Organization - Canada.ca{% endblock %}

{% block pageid_en %}organizations{% endblock %}
{% block pageid_fr %}organisations{% endblock %}
{% block description %}This dashboard reports how federal government websites and web services are meeting good web security practices, as outlined in Information Technology Policy Implementation Notice (ITPIN): Implementing HTTPS for Secure Web Connections.{% endblock description %}


{% block content %}

{% include 'includes/en/modal.html' %}

<section id="main-content" class="flex-1" aria-label="HTTPS by organization">

	<header class="bg-https-light-gray pt-6">

		{% include 'includes/en/header.html' %}

		<div class="text-center mt-8 font-bold">
			<div class="inline-block border-b-4 border-https-blue mr-4">By Organization</div>
			<div class="inline-block h-10 ml-4"><a href="/en/domains/" class="text-black no-underline hover:text-https-blue font-medium">By Domain</a></div>
		</div>

	</header>

	<div id="tab-panel" class="container mx-auto" role="tabpanel" aria-hidden="false">
	    
	    <table language="en" class="organization responsive https">
	      <caption>HTTPS by organization. Table is sortable via first row table headers. Each row contains an organization and related attributes.</caption>
	      <thead>
	        <tr class="leading-tight text-2xl">
	          <th class="never"></th>
	          <th class="all" scope="col"><strong>Organization</strong></th>
	          <th class="min-tablet" scope="col"><strong><abbr title="Information Technology Policy Implementation Notice">ITPIN</abbr> Compliant</strong></th>
	          <th class="desktop" scope="col"><strong>Enforces HTTPS</strong></th>
	          <th class="desktop" scope="col"><strong>HSTS</strong></th>
	          <th class="desktop" scope="col"><strong>Free of known weak protocols and ciphers</strong></th>
	          <th class="desktop" scope="col"><strong>Uses approved certificates</strong></th>
	        </tr>
	      </thead>
    	</table>

  	</div>

</section>


{% endblock %}
{% block languageURL %}/fr/organisations{% endblock %}

{% block breadcrumb %}
					{
					 title: "Track web security compliance",
                     href: "/en/index"
					}
{% endblock %}


{% block pagerelatedscript %}

<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

{% endblock %}

{% block datemodified %}{{ scan_date | date(format="%Y-%m-%d")}}{% endblock %}