{% extends "en/layout-en.html" %}

{% block title %}Track web security compliance - Canada.ca{% endblock %}

{% block pageid_en %}index{% endblock %}
{% block pageid_fr %}index{% endblock %}
{% block description %}Track how government sites are becoming more secure.{% endblock description %}

{% block content %}

<section id="main-content" class="flex-1  py-6" role="contentinfo" aria-label="Track web security compliance">
   <div class="flex flex-col lg:flex-row mx-auto items-auto  sm:w-4/5 xl:w-5/6">
      <div class="flex-1 mt-6 mr-6">
         <h1 class="text-5xl font-black mb-6 w-full">Sign in</h1>
         <h2 class="text-4xl mb-2 font-black">Making government websites more secure</h2>

          <div class="flex-1 flex-col">
            <form method="POST" action="/en/sign-in">

                <div class="field" style="margin-top: 35px;">
                  <input class="auth-field" type="email" name="email_input" placeholder="Email" required>
                </div>

                <div class="field">
                  <input class="auth-field" type="password" name="password_input" placeholder="Password" required>
                </div>
                <div class="flex justify-between">
                    <div>
                        <button class="cds-btn-primary cds-btn" type="submit">Sign in</button>
                        <button class="cds-btn-secondary cds-btn" type="button" onclick="window.location.href='/en/register'">Register</button>
                    </div>
                    <a href="/en/forgot-password">Forgot Password?</a>
                </div>
                </form>
          </div>
      </div>
   </div>
</section>


{% endblock %}

{% block pagerelatedscript %}

<script src="/static/js/https/donuts.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


{% endblock %}
{% block languageURL %}/fr/index{% endblock %}



{% block datemodified %}{{ scan_date | date(format="%Y-%m-%d")}}{% endblock %}