{% extends "en/layout-en.html" %}

{% block title %}Track web security compliance - Canada.ca{% endblock %}

{% block pageid_en %}index{% endblock %}
{% block pageid_fr %}index{% endblock %}
{% block description %}Track how government sites are becoming more secure.{% endblock description %}

{% block content %}

<section id="main-content" class="flex-1  py-6" role="contentinfo" aria-label="Track web security compliance">
   <div class="flex flex-col lg:flex-row mx-auto items-auto  sm:w-4/5 xl:w-5/6">
      <div class="flex-1 mt-6 mr-6">
         <h1 class="text-5xl font-black mb-6 w-full">Verify Mobile Number</h1>
          <div class="flex-1 flex-col">
            <form method="POST" action="/verify-mobile">
                <small>A verification token has been sent to {{ phone }}</small>
                <div class="field" style="margin-top: 35px;">
                  <input class="auth-field" type="tel" name="mobile_input" placeholder="123-456-7890"
                         pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
                  >
                </div>

                <button class="cds-btn-primary cds-btn" type="submit">Verify</button>
                </form>
          </div>
      </div>
   </div>
</section>


{% endblock %}

{% block pagerelatedscript %}

<script src="/static/js/https/donuts.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


{% endblock %}
{% block languageURL %}/fr/index{% endblock %}



{% block datemodified %}{{ scan_date | date(format="%Y-%m-%d")}}{% endblock %}