{% extends "fr/layout-fr.html" %}

{% block title %}Consulter la conformité liée à la sécurité numérique{% endblock %}
{% block pageid_en %}domains{% endblock %}
{% block pageid_fr %}domaines{% endblock %}

{% block content %}

{% include 'includes/fr/modal.html' %}

<section id="main-content" class="flex-1">

	<header class="bg-grey-lighter py-6">

		{% include 'includes/https/fr/header.html' %}

		<div class="text-center mt-8 font-bold">
			<p class="uppercase"><a href="/fr/organizations/" class="mr-8 text-blue hover:text-blue-darker">par organisation</a> par domaine</a></p>
		</div>

	</header>

	<div id="tab-panel" class="container mx-auto" role="tabpanel" aria-hidden="false">
	    <table language="fr" class="domain responsive https">
	      <caption class="sr-only">HTTP(S) sécurisé par domaine. Le tableau peut être trié par en-tête de tableau de première ligne. Chaque ligne contient un domaine et les attributs connexes.</caption>
	      <thead>
	        <tr>
	          <th class="never"></th>
	          <th class="all">Domaine</th>
	          <th class="never">Organisation</th>
	          <th class="min-tablet">Applique le protocole HTTPS</th>
	          <th class="min-tablet">HSTS</th>
	          <th class="min-tablet-l">RC4/3DES et SSLv2/SSLv3 non utilisés</th>
	          <th class="min-tablet-l">Domaines préchargés</th>
	          <th class="none" scope="col"></th>
	        </tr>
	      </thead>
	    </table>
  	</div>

</section>

<script src="/static/js/https/domains.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script> 
{% endblock %}