{% extends "fr/layout-fr.html" %}

{% block title %}Rétroaction{% endblock %}
{% block pageid_en %}help{% endblock %}
{% block pageid_fr %}aide{% endblock %}

{% block content %}
<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-3/5 mt-6">
		<h1>Rétroaction</h1>
		<p>Veuillez transmettre vos questions ou commentaires au sujet de ce tableau de bord ou de la mise en œuvre de HTTPS par courriel à la <a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-blue hover:text-blue-darker font-bold">Cybersécurité du SCT</a> ou joindre le groupe <a href="https://gcconnex.gc.ca/groups/profile/35218846/gc-https-everywhere-2018-https-partout-dans-le-gc-2018?language=en" class="text-blue hover:text-blue-darker font-bold">« HTTPS Everywhere » sur GCconnex</a>.</p>
	</div>

</section>
{% endblock %}
