{% extends "fr/layout-fr.html" %}

{% block title %}Consulter la conformité liée à la sécurité numérique{% endblock %}

{% block pageid_en %}index{% endblock %}
{% block pageid_fr %}index{% endblock %}

{% block content %}

<section id="main-content" class="flex-1 bg-grey-lighter py-6">

		<div class="flex flex-col lg:flex-row mx-auto items-center w-4/5 xl:w-3/5">
			<div class="flex-1 lg:mr-8 lg:pr-8 mb-4 lg:mb-0">
				<h1 class="text-4xl sm:text-5xl mb-6">Making government websites more secure (FR)</h1>
				<p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum lacus ac venenatis lacinia. Vestibulum ante ipsum primis in faucibus. <a href="#" class="text-blue hover:text-blue-darker font-bold">Learn more</a></p>

				<div class="flex">
					<p class="text-xl mt-2 lg:mt-6"><a href="#" class="text-blue hover:text-blue-darker font-bold">Check your compliance</a></p>
					<object class="ml-2 lg:mt-4" type="image/svg+xml" tabindex="-1" role="img" data="/static/images/cta-arrow.svg"></object>
				</div>

			</div>

			<div class="flex-inline flex-col text-center mx-auto">
				<div class="compliant"></div>
				<h3 class="font-bold text-xl sm:text-2xl">IT PIN Compliant</h3>
			</div>
		</div>

</section>

{% include 'includes/https/donut.html' %}

<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
{% endblock %}
