{% extends "fr/layout-fr.html" %}

{% block title %}Consulter la conformité liée à la sécurité numérique{% endblock %}

{% block pageid_en %}organizations{% endblock %}
{% block pageid_fr %}organizations{% endblock %}

{% block content %}

{% include 'includes/fr/modal.html' %}

<section id="main-content" class="flex-1">

	<header class="bg-grey-lighter py-6">

		{% include 'includes/https/fr/header.html' %}

		<div class="text-center mt-8 font-bold">
			<p class="uppercase">par organization <a href="/fr/domaines/" class="ml-8 text-blue hover:text-blue-darker">par domaine</a></p>
		</div>

	</header>

	<div id="tab-panel" class="container mx-auto" role="tabpanel" aria-hidden="false">
	    
	    <table language="fr" class="organization responsive https">
	      <caption>HTTPS par organisme. Le tableau peut être trié par en-tête de tableau de première ligne. Chaque ligne contient le nom d’une organisation et les attributs connexes.</caption>
	      <thead>
	        <tr>
	          <th class="never"></th>
	          <th class="all" scope="col">Organisation</th>
	          <th class="min-tablet" scope="col">IT PIN Compliant</th>
	          <th class="desktop" scope="col">Applique le protocole HTTPS</th>
	          <th class="desktop" scope="col">HSTS</th>
	          <th class="desktop" scope="col">Free of known weak protocols and ciphers</th>
	          <th class="desktop" scope="col">Uses approved certificates</th>
	        </tr>
	      </thead>
    	</table>

  	</div>

</section>

<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
{% endblock %}
