{% extends "layout-en.html" %}

{% block title %}HTTPS Everywhere{% endblock %}

{% block page_header %}

	{% include 'includes/https/header.html' %}

	<div class="text-center mt-8 font-bold">
		<p class="uppercase">by organization <a href="/domains/" class="ml-8 text-blue hover:text-blue-darker">by domain</a></p>
	</div>

{% endblock %}

{% block content %}

<section id="main-content">

	<div id="tab-panel" class="container mx-auto" role="tabpanel" aria-hidden="false">
	    
	    <p> table goes here</p>

  	</div>

</section>

{% endblock %}