<!doctype html>
<html lang="en">

<head>
	
	<title>{% block title %}{% endblock title %}</title>
	
	{% include 'includes/head.html' %}
	
</head>

<body class="flex flex-col h-screen ">

	{% include 'includes/header.html' %}

	<main class="flex-1">

		{% block content %}{% endblock %}

	</main>

	{% include 'includes/footer.html' %}

<script src="/static/js/main.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/tables.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

</body>
</html>
