[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"
notifications-python-client = "*"
postgres = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
waitress = "*"
graphene = "*"
graphql-core = "*"
flask-script = "*"
flask-migrate = "*"
pytest = "*"
pyotp = "*"
pyjwt = "*"
python-slugify = "*"
bcrypt = "*"
gql = "*"
pytest-mock = "*"

[scripts]
test = "python -m pytest"
server = "python application.py"
schema-export = "python schema_export.py"
db-init = 'python manage.py db init'
db-migrate = 'python manage.py db migrate'
db-upgrade = 'python manage.py db upgrade'
db-history = 'python manage.py db history'
db-downgrade = 'python manage.py db downgrade'
db-revision = 'python manage.py db revision'

[pipenv]
allow_prereleases = false
