[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
flask = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"
notifications-python-client = "*"
postgres = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
waitress = "*"
flask-bcrypt = "*"
graphene = "*"
graphql-core = "*"
flask-script = "*"
flask-migrate = "*"
pytest = "*"
pyotp = "*"
pyjwt = "*"

[scripts]
test = "pytest"
server = "python app/application.py"
schema-export = "python schema_export.py"
db-init = 'python manage.py db init'
db-migrate = 'python manage.py db migrate'
db-upgrade = 'python manage.py db upgrade'
db-history = 'python manage.py db history'
db-seed = 'python manage.py seed'
db-remove-seed = 'python manage.py remove_seed'
db-downgrade = 'python manage.py db downgrade'

[pipenv]
allow_prereleases = false
