[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
mypy = "==0.590"
pylint = "==1.8.4"
pytest = "==3.5.0"
pytest-cov = "==2.5.1"

[packages]
flask = "==1.0"
graphene-sqlalchemy = "*"
flask-graphql = "*"
flask-graphql-auth = "*"
notifications-python-client = "*"
postgres = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
waitress = "*"

[scripts]
test = "pytest"
server = "python app.py"
schema-export = "python schema_export.py"

[pipenv]
allow_prereleases = true
