{% extends "fr/layout-fr.html" %}

{% block title %}Check compliance - By Domain{% endblock %}
{% block pageid_en %}domains{% endblock %}
{% block pageid_fr %}domaines{% endblock %}
{% block description %}This dashboard reports how federal government websites and web services are meeting good web security practices, as outlined in Information Technology Policy Implementation Notice (ITPIN): Implementing HTTPS for Secure Web Connections.{% endblock description %}

{% block content %}


<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-5/6 mt-6 mb-6">
		<h1 class="border-0">Nous ne pouvons trouver cette page Web</h1>
  		<p class="text-3xl"><strong>Erreur 404</strong></p>
		<p class="text-3xl">Nous sommes désolés que vous ayez abouti ici. Il arrive parfois qu’une page ait été déplacée ou supprimée. </p>
	</div>


</section>

{% endblock %}
{% block languageURL %}/en/404{% endblock %}

{% block breadcrumb %}
					{
					 title: "Suivre la conformité en matière de sécurité Web",
                     href: "/fr/index"
					}


{% endblock %}


{% block datemodified %}{{lastmodified}}{% endblock %}</html>