{% extends "fr/layout-fr.html" %}

{% block title %}Obtenir de l’aide: Suivre la conformité en matière de sécurité Web - Canada.ca{% endblock %}
{% block pageid_en %}help{% endblock %}
{% block pageid_fr %}aide{% endblock %}
{% block description %}Pour des explications concernant tout aspect de l’application de l’Avis de mise en œuvre de la Politique sur la technologie de l’information (AMPTI) : Mise en œuvre de HTTPS pour les connexions Web sécurisées, veuillez communiquer avec le Secrétariat du Conseil du Trésor du Canada par l’entremise des Renseignements au public.{% endblock description %}

{% block content %}
<section id="main-content" class="flex-1">
	<div class="container mx-auto items-center sm:w-4/5 xl:w-5/6 mt-6" aria-label="Obtenir de l’aide">
		<h1 class="text-5xl font-black">Obtenir de l’aide</h1>
		<h2 class="text-4xl mb-4">Grand public</h2>
		<p class="text-2xl">Pour des explications concernant tout aspect de l’application de <a class="text-https-blue hover:text-black" href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/technologie-information/avis-mise-oeuvre-politique/mise-oeuvre-https-connexions-web-securisees-ampti.html">l’Avis de mise en œuvre de la Politique sur la technologie de l’information (AMPTI)&nbsp;: Mise en œuvre de HTTPS pour les connexions Web sécurisées</a>, veuillez communiquer avec le Secrétariat du Conseil du Trésor du Canada par l’entremise des Renseignements au public.</p>
		<h2 class="text-4xl mb-4 mt-4">Employés du gouvernement du Canada</h2>
		<p class="text-2xl">Les fonctionnaires des ministères devraient communiquer avec leur groupe de technologies de l’information respectif pour toute question relative à cet <abbr title="Avis de mise en œuvre de la Politique sur la technologie de l’information">AMPTI</abbr>. Ils peuvent aussi se joindre au groupe <a href="https://gcconnex.gc.ca/groups/profile/35218846/gc-https-everywhere-2018-https-partout-dans-le-gc-2018?language=en" class="text-https-blue hover:text-black"><span lang="en">HTTPS Everywhere</span></a> sur GCconnex ou à la chaîne #<span lang="en">HTTPSEverywhere</span> sur <a href="https://message.gccollab.ca/" class="text-https-blue hover:text-black">GCcollab</a>.</p>
		<p class="text-2xl">Les membres d’un groupe de technologies de l’information d’un ministère peuvent envoyer un courriel à la <a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-https-blue hover:text-black">Cybersécurité du SCT</a> pour obtenir des explications concernant cet <abbr title="Avis de mise en œuvre de la Politique sur la technologie de l’information">AMPTI</abbr>.</p>
		<p class="text-2xl mb-8">Les personnes qui ont des questions au sujet de l’exactitude des données sur la conformité de leur domaine peuvent communiquer par courriel avec la <a href="mailto:zzTBSCybers@tbs-sct.gc.ca" class="text-https-blue hover:text-black ">Cybersécurité du SCT</a>. Veuillez noter que les données de conformité ne s’actualisent pas automatiquement. Si vous avez modifié votre domaine récemment, il se peut que ses informations ne soient pas encore mises à jour.</p>
	</div>

</section>
{% endblock %}
{% block languageURL %}/en/help{% endblock %}
{% block breadcrumb %}
					{
					 title: "Suivre la conformité en matière de sécurité Web",
                     href: "/fr/index"
					}

{% endblock %}
{% block datemodified %}{{lastmodified}}{% endblock %}
