{% extends "fr/layout-fr.html" %}

{% block title %}Suivre la conformité en matière de sécurité Web - Canada.ca{% endblock %}

{% block pageid_en %}index{% endblock %}
{% block pageid_fr %}index{% endblock %}
{% block description %}Voyez comment les sites gouvernementaux deviennent plus sécuritaires.{% endblock description %}

{% block content %}

<section id="main-content" class="flex-1 py-6" role="contentinfo" aria-label="Suivre la conformité en matière de sécurité Web">

		<div class="flex flex-col lg:flex-row mx-auto items-center sm:w-4/5 xl:w-5/6">
			<div class="flex-1 lg:mr-8 lg:pr-8 mb-4 lg:mb-0">
				<h1 class="text-5xl font-black sm:text-5xl mb-6">Suivre la conformité en matière de sécurité Web</h1>
				<h2 class="text-4xl mb-2 font-black">Rendre les sites gouvernementaux plus sécuritaires</h2>
				<p class="text-3xl">Les Canadiens s'attendent à ce que le gouvernement du Canada leur offre des services en ligne sécurisés. Un nouvel avis de politique vise à assurer que les sites gouvernementaux soient conformes aux bonnes pratiques en matière de sécurité Web. Voyez comment les sites gouvernementaux deviennent plus sécuritaires.</p>




				<br/>


                <div class="flex-1 flex-col">
                     <div class="flex flex-row my-4">
                         <div class="w-1/2 text-left"><h3 class="text-3xl"><a href="/fr/organisations/">Vérifier la conformité</a></h3>
                          <p class="text-3xl">Quels sont les organisations ou les domaines qui répondent aux exigences</p>
                         </div>
                         <div class="w-1/2 text-left"><h3 class="text-3xl"><a href="/fr/directives">Lire l’orientation</a></h3>
                          <p class="text-3xl">Processus détaillé afin que les sites du gouvernement soient conformes</p>
                         </div>
                     </div>
                     <div class="flex flex-row">
                         <div class="w-1/2 text-left"><h3 class="text-3xl"><a href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/technologie-information/avis-mise-oeuvre-politique/mise-oeuvre-https-connexions-web-securisees-ampti.html">Avis de politique</a></h3>
                          <p class="text-3xl">Politique sur la technologie de l'information<br/>Avis de mise en oeuvre:<br/>Mise en oeuvre de HTTPS pour <br/>les connexions Web sécurisées</p>
                         </div>
                         <div class="w-1/2 text-left"><h3 class="text-3xl"><a href="/fr/aide">Personnes-ressources</a></h3>
                           <p class="text-3xl">Le gouvernement ou les membres du public sont invités à nous joindre pour toute question ou commentaire</p>
                         </div>
                     </div>
                </div>


			</div>

			<div class="flex-inline flex-col text-center mx-auto">
				<div class="compliant"></div>
				<h3 class=" text-xl sm:text-2xl">Domaines qui excécutent <br>  le protocole HTTPS</h3>
			</div>






		</div>

</section>


{% endblock %}

{% block pagerelatedscript %}

<script src="/static/js/https/donuts.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
<script src="/static/js/https/organizations.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>

{% endblock %}
{% block languageURL %}/en/index{% endblock %}
{% block datemodified %}{{ scan_date | date(format="%Y-%m-%d")}}{% endblock %}