<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="fr" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="fr" dir="ltr"><!--<![endif]-->
<head>
		<meta charset="utf-8">

		<meta content="width=device-width,initial-scale=1" name="viewport">
		<!-- Meta data -->
		<!-- Meta data-->
		<!-- Load closure template scripts -->
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
		<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-fr.js"></script>

		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refTop({
			 jqueryEnv:"external"
			}));
		</script>


		<title>{% block title %}{% endblock title %}</title>

	{% include 'includes/head.html' %}

	<meta name="description" content="{% block description %}{% endblock description %}">

</head>
	{% include 'includes/fr/beta-bar.html' %}
<body vocab="http://schema.org/" typeof="WebPage" class="flex flex-1 flex-col min-h-screen">
{% set GTM_key = "GOOGLE_TAG_MANAGER" | fetch_env() %}
{% if GTM_key %}
<!-- Google Tag Manager (noscript) -->
<noscript role="application" aria-label="script for google tag manager"><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_key }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
	<div id="def-top"></div>
	<!-- Write closure template -->
	<script type="text/javascript">
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				lngLinks: [{
					lang: "en",
					href: "{% block languageURL %}{% endblock languageURL %}",
					text: "English"
				}],
				breadcrumbs:[{
					title: "Accueil",
					href: "https://www.canada.ca/fr.html"
					},
					{
					 title: "À propos du gouvernement",
					 href: "https://www.canada.ca/fr/gouvernement/systeme.html"
					},
					{
					 title: "Gouvernement numérique",
					 href: "https://www.canada.ca/fr/gouvernement/systeme/gouvernement-numerique.html"
					},
					{
					 title: "Services numériques sécurisés",
					 href: "https://www.canada.ca/fr/gouvernement/systeme/gouvernement-numerique/services-numeriques-securises.html"
					},
					{% block breadcrumb %}{% endblock breadcrumb %}
				] ,
				search: true,
				siteMenu: true,
				showPreContent: true
			});
	</script>




	<main role="main" property="mainContentOfPage" class="container">

			{% block content %}{% endblock %}

		<div id="def-preFooter"></div>
			<!-- Write closure template -->
			<script type="text/javascript">
				var defPreFooter = document.getElementById("def-preFooter");
				defPreFooter.outerHTML = wet.builder.preFooter({
					dateModified: "{% block datemodified %}{% endblock datemodified %}",
					showPostContent: true,
					showFeedback: 'https://www.canada.ca/fr/signaler-probleme.html',
					showShare: true
				});
			</script>
	</main>
 	<div id="def-footer"></div>
	<!-- Write closure template -->
	<script type="text/javascript">
			var defFooter = document.getElementById("def-footer");
			defFooter.outerHTML = wet.builder.footer({
				showFooter: true,
				showFeatures: true,

			});
	</script>
	<!-- Write closure template -->
	<script type="text/javascript">
			document.write(wet.builder.refFooter({
			jqueryEnv:"external"
			}));
	</script>




	<!-- Scripts  ================================================== -->


	<script src="/static/js/vendor/d3.min.js"></script>
	<script src="/static/js/vendor/querystring.js"></script>
	<script src="/static/js/utils.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
	<script type="text/javascript" src="/static/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
	<script src="/static/js/dataTables.downloads.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
	<script src="/static/js/main.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>
	<script src="/static/js/tables.js?{{ now() | date("%Y%m%j%H%M%S") }}"></script>


	<!-- Scripts  related to specific page -->

	{% block pagerelatedscript %}{% endblock pagerelatedscript %}


</body>
</html>
