DB_PASS=
DB_URL=
DB_NAME=

SA_USER_DISPLAY_NAME=
SA_USER_USERNAME=
SA_USER_PASSWORD=
SA_USER_LANG=

SA_ORG_EN_SLUG=
SA_ORG_EN_ACRONYM=
SA_ORG_EN_NAME=
SA_ORG_EN_ZONE=
SA_ORG_EN_SECTOR=
SA_ORG_EN_COUNTRY=
SA_ORG_EN_PROVINCE=
SA_ORG_EN_CITY=

SA_ORG_FR_SLUG=
SA_ORG_FR_ACRONYM=
SA_ORG_FR_NAME=
SA_ORG_FR_ZONE=
SA_ORG_FR_SECTOR=
SA_ORG_FR_COUNTRY=
SA_ORG_FR_PROVINCE=
SA_ORG_FR_CITY=