<footer id="goc-footer" class="bg-white">
    <div class="flex flex-col-reverse sm:flex-row container mx-auto">
    	<div class="flex-1">
	        <ul class="list-reset flex justify-center sm:justify-start">
	            <li class="py-2"><a href="https://www.canada.ca/fr/transparence/confidentialite.html" class="text-black no-underline font-semibold">Confidentialité</a></li>
                <li class="py-2"><a href="https://www.canada.ca/fr/transparence/avis.html" class="text-black no-underline font-semibold">Avis</a></li>

            </ul>
	    </div>
        <div class="flex-1 text-center sm:text-right min-width-full mb-2 sm:mb-0">
            <object class="h-8" type="image/svg+xml" tabindex="-1" role="presentation" data="/static/images/wordmark-light.svg" aria-label="Gouvernement du Canada">
                Gouvernement du Canada
            </object>
        </div>
    </div>
</footer>
