<div class="container mx-auto items-center sm:w-4/5 xl:w-5/6 mt-6">
	<h1 class="text-5xl font-black sm:text-5xl">Vérifier la conformité</h1>
	<h2 class="font-black mb-4 text-4xl sm:mb-6 ">Dernière mise à jour {{ scan_date | display_date("fr") }}</h2>
	<p class="text-3xl mb-6">Ce tableau indique dans quelles proportions les sites et services en ligne gouvernementaux respectent les bonnes pratiques en matière de sécurité Web décrites dans <a class="text-https-blue hover:text-black" href="https://www.canada.ca/fr/secretariat-conseil-tresor/services/technologie-information/avis-mise-oeuvre-politique/mise-oeuvre-https-connexions-web-securisees-ampti.html">l’Avis de mise en œuvre de la Politique sur la technologie de l’information (AMPTI)&nbsp;: Mise en œuvre de HTTPS pour les connexions Web sécurisées</a>.</p>
	<p class="text-3xl mb-8"><a id="modal-btn" class=" text-https-blue hover:text-black" href="#">Comment interpréter ce tableau?</a></p>
</div>

