[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
mypy = "==0.590"
pylint = "==1.8.4"
pytest = "==3.5.0"
pytest-cov = "==2.5.1"

[packages]
gunicorn = "==19.6.0"
python-slugify = "==1.2.1"
click = "==6.7"
pymongo = "==3.7.2"
azure-keyvault = "==1.1.0"
msrestazure = "==0.5.1"
Flask = "==1.0"
PyYAML = "==5.1"
Flask-PyMongo = "==2.2.0"
Babel = "==2.6.0"
Flask-Caching = "==1.4.0"
flask-login = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
notifications-python-client = "*"
itsdangerous = "*"

[scripts]
test = "pytest"
start = "gunicorn track.wsgi:app --bind=0.0.0.0:5000 --worker-class=sync --access-logfile=- --error-logfile=- --log-level=debug --workers=4"

[pipenv]
allow_prereleases = true
