flask==1.0
gunicorn==19.6.0
pyyaml==3.13
python-slugify==1.2.1
Flask-PyMongo==2.2.0
flask-compress==1.4.0
click==6.7
Babel==2.6.0
Flask-Caching==1.4.0
pymongo==3.7.2
azure-keyvault==1.1.0
msrestazure==0.5.1
